workflows/34rVdWOresxMw9y9.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET SERP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Relevance Filter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Relevance Filter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GET SERP Data": {
      "main": [
        [
          {
            "node": "Brand Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Brain": {
      "main": [
        [
          {
            "node": "Relevance Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET SERP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Content Brief w/ 3.1 Pro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content Brief w/ 3.1 Pro": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Generate Content Brief w/ 3.1 Pro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Content Brief w/ 3.1 Pro",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Relevance Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-18T14:19:22.020Z",
  "id": "34rVdWOresxMw9y9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "03 Generate Content Brief",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2896,
        16
      ],
      "id": "ed6c8f60-ffb8-4cb8-bf94-4810c1d1a29d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1952,
        240
      ],
      "id": "ab2929a4-edea-4033-a1ad-0ddf15d88cf1",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8",
          "mode": "list",
          "cachedResultName": "tallo_prog_relevant_keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731860562,
          "mode": "list",
          "cachedResultName": "content_brief",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit#gid=1731860562"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "primary_keyword": "={{ $('Brand Brain').item.json['Primary Keyword'] }}",
            "goal": "SEO Article",
            "funnel_stage": "Top of Funnel",
            "target_audience": "={{ $('Brand Brain').item.json['Target Audience'] }}",
            "serp_ai_overview": "={{ $('Brand Brain').item.json['SERP Summary'] }}",
            "top_serp_urls": "={{ $('Brand Brain').item.json['Top Competitor URLs'] }}",
            "people_also_ask": "={{ $('Brand Brain').item.json['FAQ Questions'] }}",
            "sub_topics": "={{ $('Brand Brain').item.json['Sub Topics'] }}",
            "search_intent": "={{ $json.output['Search Intent'] }}",
            "competitor_analysis": "={{ $json.output['Competitor Analysis'] }}",
            "angle_pov": "={{ $json.output['Angle/POV'] }}",
            "recommended_word_count": "={{ $json.output['Recommended Word Count'] }}",
            "status": "new",
            "last_updated": "={{ $now }}"
          },
          "matchingColumns": [
            "primary_keyword"
          ],
          "schema": [
            {
              "id": "primary_keyword",
              "displayName": "primary_keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "funnel_stage",
              "displayName": "funnel_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "serp_ai_overview",
              "displayName": "serp_ai_overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top_serp_urls",
              "displayName": "top_serp_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "people_also_ask",
              "displayName": "people_also_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sub_topics",
              "displayName": "sub_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "search_intent",
              "displayName": "search_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "competitor_analysis",
              "displayName": "competitor_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "angle_pov",
              "displayName": "angle_pov",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recommended_word_count",
              "displayName": "recommended_word_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        -32
      ],
      "id": "5ef30c0b-61c0-4112-a7b7-643e5b833891",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"target_keyword\":\"string\",\n  \"relevance\":\"boolean\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1808,
        240
      ],
      "id": "ded369a0-f7f3-440f-b8b2-1e6d0c73a62c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8",
          "mode": "list",
          "cachedResultName": "tallo_prog_relevant_keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1468267482,
          "mode": "list",
          "cachedResultName": "serp_analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit#gid=1468267482"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "serp_analysis_complete"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2624,
        16
      ],
      "id": "d14ee30b-794b-49b1-8deb-d358cf6d8452",
      "name": "GET SERP Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Brand Voice\":\"Write in a conversational, supportive tone—like a knowledgeable older sibling or favorite teacher giving practical advice. Be clear and direct. Get to the point without excessive introductory fluff. Use accessible language. Explain technical terms when you use them. Be realistic and honest, not aspirational or overly motivational. Use short paragraphs (2-4 sentences typically). Include subheadings to break up content. Use bullet points for lists, but only when genuinely helpful. Lead with the most important information. Provide specific, actionable next steps\",\n  \"Target Audience\":\"Students and job seekers ages 13-30.\",\n  \"Standard CTA\":\"Take our free career interests quiz, Create your free Tallo profile to get started.\",\n  \"Anti Goals\":\"Avoid hype words like amazing, incredible, revolutionary, unlock, empower, transform. Avoid absolute terms like always, never, perfect. Don't talk down to readers. Avoid assuming they know jargon or industry terms. Don't use dream career or dream job language. Don't overuse inspirational/motivational phrases. Don't try to sound cool or use Gen Z/Gen Alpha slang. Don't be overly formal or corporate. Don't use excessive metaphors or clever wordplay. Don't stack adjectives or use flowery language. Avoid phrases like unlock your potential, journey to greatness, achieve your dreams. Key phrases to AVOID: Unlock, Transform, Empower, Your journey, Your path to greatness, Dream career/job, The sky's the limit, Achieve your dreams, You've got this!\",\n  \"Primary Keyword\":{{ JSON.stringify($json.primary_keyword) }},\n  \"SERP Summary\":{{ JSON.stringify($json.serp_ai_summary) }},\n  \"Top Competitor URLs\":{{ JSON.stringify($json.top_competitors) }},\n  \"FAQ Questions\":{{ JSON.stringify($json.faq_questions) }},\n  \"Sub Topics\":{{ JSON.stringify($json.sub_topics) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        16
      ],
      "id": "842b3fe2-4234-42e1-95c0-57cbfdb1142c",
      "name": "Brand Brain"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8",
          "mode": "list",
          "cachedResultName": "tallo_prog_relevant_keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1468267482,
          "mode": "list",
          "cachedResultName": "serp_analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit#gid=1468267482"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "primary_keyword": "={{ $json.primary_keyword }}",
            "status": "brief_created",
            "last_updated": "={{ $now }}"
          },
          "matchingColumns": [
            "primary_keyword"
          ],
          "schema": [
            {
              "id": "primary_keyword",
              "displayName": "primary_keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_volume",
              "displayName": "total_volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword_count",
              "displayName": "keyword_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword_list",
              "displayName": "keyword_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "serp_ai_summary",
              "displayName": "serp_ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top_competitors",
              "displayName": "top_competitors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faq_questions",
              "displayName": "faq_questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sub_topics",
              "displayName": "sub_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_intent",
              "displayName": "search_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competitor_analysis",
              "displayName": "competitor_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_angle",
              "displayName": "content_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title_suggestions",
              "displayName": "title_suggestions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -32
      ],
      "id": "fa963859-e4b9-4af6-87b8-7b2022ec829d",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2912,
        240
      ],
      "id": "5f937f48-4c56-450c-8ba3-761d67118561",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -992,
        176
      ],
      "id": "50111f6d-5316-4627-baef-a923123b9b36",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review the following SERP results for the keyword \"{{ $json.output.target_keyword }}\" and identify the Search Intent (Informational, Transactional, Navigational). \n\nThen, analyze what the top competitors are doing and define a unique 'Angle/POV' that will make our article stand out to our target audience of {{ $('Brand Brain').item.json['Target Audience'] }} Include a target word count based on the word counts of the articles by our top competitors.\n\nTop Competitor URLs: {{ $('Brand Brain').item.json['Top Competitor URLs'] }}\n\nSERP AI Overview (if available):\n{{ $('Brand Brain').item.json['SERP Summary'] }}\n\nQuestions People also ask: \n{{ $('GET SERP Data').item.json.faq_questions }}\n\nSub Topics:\n{{ $('GET SERP Data').item.json.sub_topics }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a Master SEO Strategist for Tallo.com, analyze the information sent to you by the user and return ONLY your analysis. No additional text or conversational fluff.\n\nExample output:\n{\n  \"target_keyword\":\"string\",\n  \"Search Intent\":\"string\",\n  \"Competitor Analysis\":\"string\",\n  \"Angle/POV\":\"string\",\n  \"Recommended Word Count\":\"number\"\n}\n\n\n\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -944,
        -32
      ],
      "id": "07a6877f-c934-42af-891b-3a2f63adcc40",
      "name": "Generate Content Brief w/ 3.1 Pro"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.relevance }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d31da3b3-dcc0-4536-875d-1347162e31b3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "True"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b75c6872-2f88-4919-84c0-1bfc45e2614a",
                    "leftValue": "={{ $json.output.relevance }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "False"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1504,
        16
      ],
      "id": "503e709d-14a5-4035-8fa0-6fbe3549b378",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"target_keyword\":\"string\",\n  \"Search Intent\":\"string\",\n  \"Competitor Analysis\":\"string\",\n  \"Angle/POV\":\"string\",\n  \"Recommended Word Count\":\"number\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -752,
        176
      ],
      "id": "2ed0c14f-c8fd-4052-b339-d6ac00025975",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8",
          "mode": "list",
          "cachedResultName": "tallo_prog_relevant_keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1468267482,
          "mode": "list",
          "cachedResultName": "serp_analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit#gid=1468267482"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('GET SERP Data').item.json.row_number }}",
            "last_updated": "={{ $now }}",
            "status": "rejected_due_to_relevance"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "primary_keyword",
              "displayName": "primary_keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_volume",
              "displayName": "total_volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword_count",
              "displayName": "keyword_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword_list",
              "displayName": "keyword_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "serp_ai_summary",
              "displayName": "serp_ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top_competitors",
              "displayName": "top_competitors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faq_questions",
              "displayName": "faq_questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sub_topics",
              "displayName": "sub_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1248,
        128
      ],
      "id": "4858849d-ff99-4f25-b0f9-6ecd861e0649",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review the following SERP results for the keyword \"{{ $json['Primary Keyword'] }}\" to determine whether this keyword is relevant to Tallo.com and our primary audience of {{ $json['Target Audience'] }}\n\nReturn ONLY the \"target keyword\" and true or false for \"relevance\" in JSON format.\n\nSERP AI Overview (if available):\n{{ $json['SERP Summary'] }}\n\nTop Competitor URLs: {{ $json['Top Competitor URLs'] }}\n\nQuestions People also ask: \n{{ $json['FAQ Questions'] }}\n\nSub Topics:\n{{ $json['Sub Topics'] }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1952,
        16
      ],
      "id": "b10b4b74-6a77-4cfe-a09b-7d2ae3c354e9",
      "name": "Relevance Filter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-18T14:19:22.022Z",
      "createdAt": "2026-03-18T14:19:22.022Z",
      "role": "workflow:owner",
      "workflowId": "34rVdWOresxMw9y9",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T17:38:59.381Z",
  "versionId": "86aabda2-0712-43d4-9ad2-fb7b2b014cfb"
}