workflows/48MoDxAJpE5h7iWI.json
{
  "active": false,
  "connections": {
    "POST /scribe": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Technical Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Technical Writer": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-23T19:29:30.974Z",
  "id": "48MoDxAJpE5h7iWI",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "System - Scribe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/scribe",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "id": "cec4e21e-eed6-415e-843b-04e183de188c",
      "name": "POST /scribe",
      "webhookId": "db88f14b-cce1-423a-adf1-57dfa96c457f"
    },
    {
      "parameters": {
        "url": "=http://n8n:5678/api/v1/workflows/{{ $json.body.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        0
      ],
      "id": "50649f2c-bf09-486f-89ff-847a24049bc3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hUbKU1Cayu2TjRND",
          "name": "X-N8N-API-KEY"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        224
      ],
      "id": "ea858edf-f289-4661-a3ce-514402c23583",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PgqwHquDEYK6dlgo",
          "name": "XIX OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this workflow data: {{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a Senior Technical Writer.\nI will provide the raw JSON of an n8n automation workflow.\nYour job is to write clear, professional Markdown documentation for it.\n\nStructure your response exactly like this:\n# Workflow Name\n\n## Purpose\n[One sentence summary of what this does]\n\n## Trigger\n[What starts this workflow?]\n\n## Process Flow\n1. [Step 1]\n2. [Step 2]\n...\n\n## Key Integrations\n- [List APIs or Services used, e.g., Supabase, OpenAI]\n\n## Data Output\n[What is the final result?]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        16,
        0
      ],
      "id": "b0640aba-6d6a-4c30-bac9-540b271a9cfd",
      "name": "Technical Writer"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "cgdops",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=g3z-agency-template-v1",
          "mode": "name"
        },
        "filePath": "=docs/workflows/workflow-{{ $('HTTP Request').item.json.id }}.md",
        "fileContent": "={{ $json.output }}",
        "commitMessage": "=Docs: Auto-generated for workflow {{ $('HTTP Request').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        368,
        0
      ],
      "id": "5e330b87-4594-41f6-b7d7-34c4b3677b4b",
      "name": "Create a file",
      "webhookId": "2d327ec4-ab48-42d0-9df1-f95031cd7214",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-23T19:29:30.977Z",
      "createdAt": "2025-11-23T19:29:30.977Z",
      "role": "workflow:owner",
      "workflowId": "48MoDxAJpE5h7iWI",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-23T21:29:58.000Z",
  "versionId": "4a12c89e-f2bd-42e5-b201-ff2ece205b5d"
}