workflows/81vAbtTWAxCoa2RM.json
{
  "active": false,
  "connections": {
    "Only Keep Doc Paths": {
      "main": [
        [
          {
            "node": "Loop Over Documentation Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Links from HTML": {
      "main": [
        [
          {
            "node": "Split Out Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Links": {
      "main": [
        [
          {
            "node": "Remove Duplicate Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Links": {
      "main": [
        [
          {
            "node": "Only Keep Doc Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Documentation Page to Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Documentation Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Documentation Pages": {
      "main": [
        [],
        [
          {
            "node": "Add Documentation Page to Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Indexing": {
      "main": [
        [
          {
            "node": "Get All DataForSEO Documentation Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All DataForSEO Documentation Links": {
      "main": [
        [
          {
            "node": "Extract Links from HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Documentation Content": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Documentation": {
      "main": [
        [
          {
            "node": "Remove Duplicate Documentation Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Documentation Page": {
      "main": [
        [
          {
            "node": "Extract Documentation Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Documentation Content": {
      "main": [
        [
          {
            "node": "Clean Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chunk Embedding": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T15:29:21.890Z",
  "id": "81vAbtTWAxCoa2RM",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "52b8b89a-30cd-4a0d-a428-e5d341bcebbf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              },
              "leftValue": "={{ $json.link }}",
              "rightValue": "/"
            },
            {
              "id": "d8019c4e-e1a1-43ec-93a8-dac3d8c083b6",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              },
              "leftValue": "={{ $json.link }}",
              "rightValue": "https://"
            }
          ]
        },
        "options": {}
      },
      "id": "256276dc-f2c8-438e-8cd4-c4d3a05936d8",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Only Keep Doc Paths",
      "type": "n8n-nodes-base.filter",
      "creator": "Lucas Peyrin",
      "position": [
        800,
        -160
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "c716909b-143d-4893-8df1-bbfccc5f482c",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Extract Links from HTML",
      "type": "n8n-nodes-base.html",
      "creator": "Lucas Peyrin",
      "position": [
        -64,
        -160
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {
          "destinationFieldName": "link"
        }
      },
      "id": "9753ea74-3fb2-4707-9b23-6d49abd30aec",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Split Out Links",
      "type": "n8n-nodes-base.splitOut",
      "creator": "Lucas Peyrin",
      "position": [
        272,
        -160
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "id": "24e903d0-385c-417d-8bf6-d0e945d0873b",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Remove Duplicate Links",
      "type": "n8n-nodes-base.removeDuplicates",
      "creator": "Lucas Peyrin",
      "position": [
        576,
        -160
      ],
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "data"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "1db6d676-a884-4735-8631-4fa3665b6961",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Add Documentation Page to Vector Store",
      "type": "n8n-nodes-base.executeWorkflow",
      "creator": "Lucas Peyrin",
      "position": [
        1312,
        -128
      ],
      "typeVersion": 1.2,
      "alwaysOutputData": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "16a1d8ba-bed1-4cd0-aa53-04fc2f93d557",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Loop Over Documentation Pages",
      "type": "n8n-nodes-base.splitInBatches",
      "creator": "Lucas Peyrin",
      "position": [
        1088,
        -160
      ],
      "typeVersion": 3,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "069dd2c2-e0ac-4c79-bcee-88203d89b268",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Start Indexing",
      "type": "n8n-nodes-base.manualTrigger",
      "creator": "Lucas Peyrin",
      "position": [
        -592,
        -160
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "url": "https://docs.dataforseo.com/v3/",
        "options": {}
      },
      "id": "203602bb-941a-43b8-859f-fcf45f5bbfe5",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Get All DataForSEO Documentation Links",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        -352,
        -160
      ],
      "typeVersion": 4.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.documentation }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "2c195150-c685-4db2-8f50-c96b90bf77b5",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "creator": "Lucas Peyrin",
      "position": [
        1264,
        640
      ],
      "typeVersion": 1.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "d66465f2-e952-4ed6-9852-f53c61f4cba4",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "creator": "Lucas Peyrin",
      "position": [
        1360,
        848
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.documentation }}",
        "options": {
          "scope": "node",
          "historySize": 10000
        }
      },
      "id": "a159f782-3ded-4c0a-acae-d250e5a927d1",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Remove Duplicate Documentation Content",
      "type": "n8n-nodes-base.removeDuplicates",
      "creator": "Lucas Peyrin",
      "position": [
        640,
        416
      ],
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ed964a6-5200-454c-b983-f3dc7c8c7a48",
              "name": "documentation",
              "type": "string",
              "value": "={{ $json.data.replace(/([^#\\n]+)\\s*#/g, '# $1').trim().replace(/^\\s*https?:\\/\\/\\S+\\s*/, '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "95eda3e4-f17d-4530-a2ea-e88a436be0b6",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Clean Documentation",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        208,
        416
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "url": "=https://docs.dataforseo.com/{{ $json.link }}",
        "options": {}
      },
      "id": "774c88a2-7585-4642-ac51-6d64a856e28f",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Get Documentation Page",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        -320,
        416
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "article",
              "skipSelectors": "img, footer, form"
            }
          ]
        },
        "options": {}
      },
      "id": "588c1183-757c-4bce-bde1-9d20367b8b58",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Extract Documentation Content",
      "type": "n8n-nodes-base.html",
      "creator": "Lucas Peyrin",
      "position": [
        -16,
        416
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "2a927c0e-c5fc-4d94-a22e-4c9d405a794b",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Gemini Chunk Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "creator": "Lucas Peyrin",
      "position": [
        1136,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "NF7SyR12WXtvl3s7",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "dataforseo_documentation_vector_store",
          "mode": "id"
        },
        "embeddingBatchSize": 30
      },
      "id": "bcf6b32c-4bcc-47a7-ba8c-1551d5a3e9bc",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Simple Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "creator": "Lucas Peyrin",
      "position": [
        1168,
        416
      ],
      "typeVersion": 1.3,
      "notes": "© 2025 Lucas Peyrin"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T15:29:21.891Z",
      "createdAt": "2025-11-19T15:29:21.891Z",
      "role": "workflow:owner",
      "workflowId": "81vAbtTWAxCoa2RM",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T18:24:39.000Z",
  "versionId": "66a837d9-d36a-4724-aae6-6055141e5fb0"
}