workflows/Dgkr3vLjYVafVk7U.json
{
  "active": true,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get rows from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows from sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update sheet": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T17:00:14.909Z",
  "id": "Dgkr3vLjYVafVk7U",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Scope of Work Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "67c9b0b4-4151-481d-92b2-b0ec2f1d2bbd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "readRows",
        "workbook": {
          "__rl": true,
          "value": "01MXBTU2CV2N67QIAHHJHZZJ5C5RZQGVOV",
          "mode": "list",
          "cachedResultName": "G3Z Clients",
          "cachedResultUrl": "https://g3zcreative613-my.sharepoint.com/personal/chris_g3zcreative_com/_layouts/15/Doc.aspx?sourcedoc=%7BF87DD355-0720-4F3A-9CA7-A2EC730355D5%7D&file=G3Z%20Clients.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://g3zcreative613-my.sharepoint.com/personal/chris_g3zcreative_com/_layouts/15/Doc.aspx?sourcedoc=%7BF87DD355-0720-4F3A-9CA7-A2EC730355D5%7D&file=G3Z%20Clients.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "fcfa8b8e-0e19-4eb3-9bda-1912db3f4973",
      "name": "Get rows from sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "gxqi2HJtBantn7B0",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Lead Status'] }}",
                    "rightValue": "={{ $json['Lead Status'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ccefe574-195b-4976-b088-ca9c4f0ae8a3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate SOW"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        0
      ],
      "id": "5793c74b-1e6e-4ebf-b0ce-1baf2b618470",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Client information:\nFirst name:  {{ $json['First Name'] }}\nLast name: {{ $json['Last Name'] }}\nPhone number: {{ $json.Phone }}\nEmail: {{ $json.Email }}\nCompany name: {{ $json['Company Name'] }}\nRole at company: {{ $json.Title }}\nIndustry: {{ $json.Industry }}\nLocation: {{ $json.City }}, {{ $json.State }}\nLead status: {{ $json['Lead Status'] }}\n\nBANT Evaluation:\nBudget: {{ $json.Budget }}\nAuthority: {{ $json.Authority }}\nNeed: {{ $json.Need }}\nTimeline: {{ $json.Timeline }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a certified Project Management Professional (PMP), you work for G3Z Creative in Miramar, Florida. Your job is to take the Sales Qualified Lead information and generate a Scope of Work (SOW) document to send via email to the lead. You will be given a comprehensive BANT evaluation from the user to aid you in crafting the SOW document.\n\nBelow are some helpful instructions on how I want you to write the scope of work document:\n\nThe SOW document must include:\n- The scope of work, an agreement on the work to be performed.\n- Deliverables/Products/Results\n- Timeline\n- Milestones\n- Reports\n\nThe email template generated must include:\n1. Glossary of terms\n2. Problem Statment\n3. Goals\n4. Objectives\n5. Administration\n6. Timeline\n\nYou must do the following when creating the SOW:\n1. Be specific\n- Explain what terms mean\n- Who does what by when\nThis helps avoid confusion, miscommunication, and/or disputes.\n\n2. Use Visuals\n- What will the project look like in the end?\n- What will people be able to do in the end\n- A picture is worth a thousand words\nThis avoids misinterpretations\n\n3. Get Signoffs\n- Ensure that the authorized approvers sign off.\n- Sign off on critical milestones and deliverables.\nThis helps avoid selective amnesia, disputes and reworks.\n\nOutput format:\n- The final SOW document will be sent via EMAIL\n- The document MUST be formatted in HTML\n- The layout must be clear, and comfortable to read via email\n- Ensure that the HTML generated is compatible with a wide range of browsers and email clients\n- Generate a recommended subject line\n- Include the recipient's email address in output. This email is included in the prompt from the user.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -128
      ],
      "id": "d6995e3c-bdc3-461b-b111-f3f732dc4c41",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        32
      ],
      "id": "43cfe6a1-448d-4243-8ba1-62ca76e7a9a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PgqwHquDEYK6dlgo",
          "name": "XIX OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email\":\"example@example.com\",\n  \"subject\":\"subject line...\",\n  \"html\": \"!DOCTYPE html...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        80
      ],
      "id": "fa4a68c1-47a7-49ea-a635-eaab6622367c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "update",
        "workbook": {
          "__rl": true,
          "value": "01MXBTU2CV2N67QIAHHJHZZJ5C5RZQGVOV",
          "mode": "list",
          "cachedResultName": "G3Z Clients",
          "cachedResultUrl": "https://g3zcreative613-my.sharepoint.com/personal/chris_g3zcreative_com/_layouts/15/Doc.aspx?sourcedoc=%7BF87DD355-0720-4F3A-9CA7-A2EC730355D5%7D&file=G3Z%20Clients.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://g3zcreative613-my.sharepoint.com/personal/chris_g3zcreative_com/_layouts/15/Doc.aspx?sourcedoc=%7BF87DD355-0720-4F3A-9CA7-A2EC730355D5%7D&file=G3Z%20Clients.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1"
        },
        "columnToMatchOn": "Email",
        "valueToMatchOn": "={{ $json.output.email }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Subject",
              "fieldValue": "={{ $json.output.subject }}"
            },
            {
              "column": "Email Body (HTML)",
              "fieldValue": "={{ $json.output.html }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        1024,
        -128
      ],
      "id": "54a26d7e-8f9b-46e0-b24b-05342fe637c3",
      "name": "Update sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "gxqi2HJtBantn7B0",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.Subject }}",
        "bodyContent": "={{ $json['Email Body (HTML)'] }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1232,
        -128
      ],
      "id": "2b33e5a8-552e-4163-9b4b-03c950f80a8f",
      "name": "Create a draft",
      "webhookId": "1aee3522-1df0-466b-8217-61520c9b5713",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "fNGgnUhdMdWUKn2l",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-15T17:00:14.915Z",
      "updatedAt": "2025-10-15T17:00:14.915Z",
      "role": "workflow:owner",
      "workflowId": "Dgkr3vLjYVafVk7U",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-17T14:14:57.000Z",
  "versionId": "d657da5b-25dd-4591-b523-a29088f62ee2"
}