workflows/HX8sMTxzrHQDseXP.json
{
  "active": true,
  "connections": {
    "/submit-form": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-23T18:42:28.054Z",
  "id": "HX8sMTxzrHQDseXP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "System - CRM Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-form",
        "options": {
          "allowedOrigins": "*",
          "responseCode": {
            "values": {
              "responseCode": 401
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -128
      ],
      "id": "b31c5421-0431-4d57-bb16-5fe4494fe25b",
      "name": "/submit-form",
      "webhookId": "79a1f03d-fb57-47b8-851d-461c77f6c8df"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_name",
              "fieldValue": "={{ $json.body.client_name }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.body.name }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.body.message}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        -64
      ],
      "id": "d71383c5-60ce-4a68-8d6c-9e2584773460",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "1haFUe9NaMdCx1B7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://challenges.cloudflare.com/turnstile/v0/siteverify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "={{ $env.CLOUDFLARE_SECRET }}"
            },
            {
              "name": "response",
              "value": "={{ $json.body['cf-turnstile-response'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -128
      ],
      "id": "11a55854-67b4-40a3-b2f8-ecf731029cfc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15de960b-0439-409e-b064-f35a7a46b179",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -48
      ],
      "id": "dd338edc-7966-4fb9-98ec-8f4c167c3446",
      "name": "If"
    }
  ],
  "pinData": {
    "/submit-form": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1051492.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "1244",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "dnt": "1",
            "origin": "https://ancatmediagroup.com",
            "priority": "u=1, i",
            "referer": "https://ancatmediagroup.com/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv1051492.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "90bcb29b791d",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "cf-turnstile-response": "0.7Vb5uzkfcyPRGeYLiPtN0mfb_FIc-sqUDsOBRLA4qLL-nKVJX3IpYArTcisgWiWU6h4Eu2yKzNEQCPEh22HMD2LouEbNjHVA1qXW4ckQgPsH0BrPeSEqXstcku85vnt_4M1WWSJ-bE6wKjwMUBz--BtUnTyOdWtomRFnvmgG9ul65Yb6UTWjRfpbH_gTsc5mS0fZAryEOCOgeSNDytAGU1c4NRss4c-iFuT8YdI8fCyIEz9CbTX5fembZ6BfSjoEPmduRK1nDFx4zQH7-zWSIEodmF6kAQDCI1YNnOG_vzqtb26q-YJ59EotWMZPQ3xpngutQkjIQENgFPK9GcFZgSXGTOrkXm-U3mKcKS8re8gLh6MBe0bJkpTO3jOq5nT1PvLz0u6gtQtfq_FnFD5GECCeXPgertY8Q03QSZbNCSsR8dxKfMqevyWMighzKVa6SGl3Ni4eNLVg12205jbIidW8HQoWIoaTTEiptG5oQzMT4rdMe7ad0-7SBNUrbqDWaSqrYNfFzRKZ9HcAOZtQFvrB2FrcadAdN3g1vEpYp9rXhSgVkaOBmay55s-9T9vAtsFy-7S-2Q5npr9GdxNWHu4D39d5HEQTVpoeAdR0-EH4rgSRqGGTu3Jpjc_vroTUjcVOAkkvUeGzF0G-ZHQ54qUNFv5UN4hJ31lFlXe45naL-0Hoi8H4Mm2k3ORmXCOXJgYKhPkJdrCgMFyci_7LVrBNy5g0yCepFqW3_apOleU1aXlbWNw2rtxo_gaeQmLoJjexvlqfAU4sZQgwrP6Ek7NKix2okUcQxELY-jO20vXANCYGykQXpljRi7N3fvzO7udIVxHooCCieISOfnpm7HFiCq491tC21r0U9roT13OqEvvG872NWeAbIFFr7aV4BFhe9Z3BY-AivUYAjIrIawsXUcVGeeKjyKoIDhiYC9gXSVwV7s03_aE8XpZJ1lj9C9hhOfKTBELGbNkQWu_jGg.QkqI4c4B4yXAK4QLr8sLkA.ece74bc40a27aeeec84e286aefa86d520b6cdbe81004218a787bc4d17bd7ada3",
            "client_name": "Ancat Media Group - Leading Broadcast Media Solutions",
            "name": "Christian",
            "email": "gomez@christia.com",
            "message": "test messsage"
          },
          "webhookUrl": "https://n8n.srv1051492.hstgr.cloud/webhook/submit-form",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-23T18:42:28.057Z",
      "createdAt": "2025-11-23T18:42:28.057Z",
      "role": "workflow:owner",
      "workflowId": "HX8sMTxzrHQDseXP",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-24T01:21:56.000Z",
  "versionId": "d8924dec-2007-47ae-bc3c-257943ec7ae8"
}