workflows/MOc8W36kmsmFhFh6.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1: Outliner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agent 1: Outliner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agent 1: Outliner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T16:36:53.476Z",
  "id": "MOc8W36kmsmFhFh6",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ],
      "id": "27d18424-2ba2-4ec0-bea6-642b4d390853",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "384867c7-552d-4662-8361-8f21074c2ba3",
              "name": "topic",
              "value": "The Benefits of Agentic Workflow Automation for Small & Medium Businesses",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -64
      ],
      "id": "52481097-0f6c-473c-af74-865ade88e98e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        320,
        128
      ],
      "id": "f7f48293-e285-47a4-a9cf-a82d18061139",
      "name": "When chat message received",
      "webhookId": "9d4dadc3-59e1-466c-ac08-3d4c31cea50a"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        304
      ],
      "id": "c40dd3d0-5247-434d-95f5-2ca85624f24a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PgqwHquDEYK6dlgo",
          "name": "XIX OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert content strategist and researcher. Your task is to take a given topic and generate a compelling blog post title and a detailed, logical outline.  The topic is: \"{{ $json.topic }}\"  Please generate an outline that includes an introduction, at least 3 main sections with sub-points, and a conclusion.  Your final output MUST be only a JSON object, with no other text before or after it. The JSON object should have two keys: \"title\" and \"outline\". The outline should be a single string with markdown formatting for headings (e.g., using #, ##, etc.).  Example format: {   \"title\": \"Example Title\",   \"outline\": \"# Introduction\\n## Main Point 1\\n### Sub-point 1.1\\n## Main Point 2\\n## Conclusion\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        592,
        96
      ],
      "id": "405e1720-7c8e-4efa-954f-5a665af54adb",
      "name": "Agent 1: Outliner"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-08T16:36:53.481Z",
      "createdAt": "2025-10-08T16:36:53.481Z",
      "role": "workflow:owner",
      "workflowId": "MOc8W36kmsmFhFh6",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-08T17:20:36.000Z",
  "versionId": "d935167b-be50-47d8-9832-b8399ad2af58"
}