workflows/Pn9Rk4csjfKjCVI3.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-18T17:53:22.000Z",
    "createdAt": "2026-03-18T17:53:10.968Z",
    "versionId": "eb41387d-9f68-4373-a5a7-03246b82e8fa",
    "workflowId": "Pn9Rk4csjfKjCVI3",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -624,
          256
        ],
        "id": "91c0d560-2bed-4c21-a9c4-781863f4db6f",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo",
            "mode": "list",
            "cachedResultName": "pSEO",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1904026756,
            "mode": "list",
            "cachedResultName": "Sheet2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit#gid=1904026756"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "new"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -416,
          256
        ],
        "id": "f4ac281d-b098-467e-87ba-6eec61666273",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "h35AaTyWKINQe0bE",
            "name": "chris.smply.me@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "mode": "expression",
          "numberOutputs": 2,
          "output": "={{\n\n    $json.search_intent.toLowerCase().includes('informational') &&\n    $json.word_count >= 3 &&\n    $json.keyword_difficulty <= 20 &&\n    $json.volume >= 100 &&\n    $json.cpc > 0\n\n}}"
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -192,
          256
        ],
        "id": "edb29096-99ea-4a68-8c5f-fb7da7f21c2f",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo",
            "mode": "list",
            "cachedResultName": "pSEO",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1904026756,
            "mode": "list",
            "cachedResultName": "Sheet2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit#gid=1904026756"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "status": "disapproved",
              "last_updated": "={{ $now }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "keyword",
                "displayName": "keyword",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "keyword_difficulty",
                "displayName": "keyword_difficulty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "word_count",
                "displayName": "word_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "search_intent",
                "displayName": "search_intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "volume",
                "displayName": "volume",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "cpc",
                "displayName": "cpc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "competition",
                "displayName": "competition",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "competition_level",
                "displayName": "competition_level",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "category",
                "displayName": "category",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "last_updated",
                "displayName": "last_updated",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          16,
          160
        ],
        "id": "17b1db0d-4a38-4bdd-9428-7e31d21435fc",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "h35AaTyWKINQe0bE",
            "name": "chris.smply.me@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo",
            "mode": "list",
            "cachedResultName": "pSEO",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1904026756,
            "mode": "list",
            "cachedResultName": "Sheet2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit#gid=1904026756"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "status": "approved_for_serp_analysis",
              "last_updated": "={{ $now }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "keyword",
                "displayName": "keyword",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "keyword_difficulty",
                "displayName": "keyword_difficulty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "word_count",
                "displayName": "word_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "search_intent",
                "displayName": "search_intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "volume",
                "displayName": "volume",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "cpc",
                "displayName": "cpc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "competition",
                "displayName": "competition",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "competition_level",
                "displayName": "competition_level",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "category",
                "displayName": "category",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "last_updated",
                "displayName": "last_updated",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          16,
          336
        ],
        "id": "81792dd5-6b73-445d-8b19-2c4afd86e545",
        "name": "Update row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "h35AaTyWKINQe0bE",
            "name": "chris.smply.me@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "content": "### Filter High-Value Keywords\n\nintent = informational (TOFU)\nword count >= 3 (long tail)\nvolume > 100\ncpc > $0 (has business value)\n",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -304,
          0
        ],
        "id": "c61fb638-bc9e-4d56-93af-626291b35a12",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -624,
          32
        ],
        "id": "e542a0d5-1d67-4ead-b0c1-0545daf582ec",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update row in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christian Gomez",
    "name": "Version eb41387d",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "eb41387d-9f68-4373-a5a7-03246b82e8fa",
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-18T14:18:19.144Z",
  "id": "Pn9Rk4csjfKjCVI3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "01 Filter Keywords",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        256
      ],
      "id": "91c0d560-2bed-4c21-a9c4-781863f4db6f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo",
          "mode": "list",
          "cachedResultName": "pSEO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1904026756,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit#gid=1904026756"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "new"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        256
      ],
      "id": "f4ac281d-b098-467e-87ba-6eec61666273",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h35AaTyWKINQe0bE",
          "name": "chris.smply.me@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{\n\n    $json.search_intent.toLowerCase().includes('informational') &&\n    $json.word_count >= 3 &&\n    $json.keyword_difficulty <= 20 &&\n    $json.volume >= 100 &&\n    $json.cpc > 0\n\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -192,
        256
      ],
      "id": "edb29096-99ea-4a68-8c5f-fb7da7f21c2f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo",
          "mode": "list",
          "cachedResultName": "pSEO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1904026756,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit#gid=1904026756"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "status": "disapproved",
            "last_updated": "={{ $now }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword_difficulty",
              "displayName": "keyword_difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "word_count",
              "displayName": "word_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_intent",
              "displayName": "search_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "volume",
              "displayName": "volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpc",
              "displayName": "cpc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competition",
              "displayName": "competition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competition_level",
              "displayName": "competition_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        160
      ],
      "id": "17b1db0d-4a38-4bdd-9428-7e31d21435fc",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h35AaTyWKINQe0bE",
          "name": "chris.smply.me@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo",
          "mode": "list",
          "cachedResultName": "pSEO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1904026756,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYkR7IRZaQQXlVHM7Gb01zlhoCLquDcxPH_DV1z8jlo/edit#gid=1904026756"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "status": "approved_for_serp_analysis",
            "last_updated": "={{ $now }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword_difficulty",
              "displayName": "keyword_difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "word_count",
              "displayName": "word_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_intent",
              "displayName": "search_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "volume",
              "displayName": "volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpc",
              "displayName": "cpc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competition",
              "displayName": "competition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competition_level",
              "displayName": "competition_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        336
      ],
      "id": "81792dd5-6b73-445d-8b19-2c4afd86e545",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h35AaTyWKINQe0bE",
          "name": "chris.smply.me@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "### Filter High-Value Keywords\n\nintent = informational (TOFU)\nword count >= 3 (long tail)\nvolume > 100\ncpc > $0 (has business value)\n",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "c61fb638-bc9e-4d56-93af-626291b35a12",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        32
      ],
      "id": "e542a0d5-1d67-4ead-b0c1-0545daf582ec",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-18T14:18:19.145Z",
      "createdAt": "2026-03-18T14:18:19.145Z",
      "role": "workflow:owner",
      "workflowId": "Pn9Rk4csjfKjCVI3",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T17:54:39.394Z",
  "versionId": "aea6e32b-a1af-497b-91fd-007e0485545c"
}