workflows/Q5hxh90nLVgY8rGm.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Body": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-23T01:02:37.426Z",
  "id": "Q5hxh90nLVgY8rGm",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send email list an email",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -32
      ],
      "id": "d41d4867-7ac0-48e1-b29a-8c7f2e0acf32",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o-lo-Kc6Eh2hyv29PRb1Sjij_U92wGkQoh12DB9lX40",
          "mode": "list",
          "cachedResultName": "Remember Me Email List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o-lo-Kc6Eh2hyv29PRb1Sjij_U92wGkQoh12DB9lX40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o-lo-Kc6Eh2hyv29PRb1Sjij_U92wGkQoh12DB9lX40/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -32
      ],
      "id": "0e882b63-9cd4-47f4-848e-5510efb02844",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WoXbHPbfFs6I4Nyw",
          "name": "RememberMe Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Email, ['First Name'], ['Last Name']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        144,
        -32
      ],
      "id": "3ea39474-7fcb-4ae2-bcd6-a375344e720e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "=# What's New at Remember Me\n\nWe recently launched the [updated website](https://remembermeseries.com/), we're calling it \"Website V2\"! This new website comes with various improvements and foundational work needed for the future of Remember Me!\n- Media first - the website is now centered on our videos and devotions.\n- Engagement - You can now [sign up for an account](https://remembermeseries.com/auth) to leave comments on our videos.\n- Devotions - Read through our daily devotions\n- Blog - Read through our weekly blog posts\n\nVisit the new [www.RememberMeSeries.com](https://rememebermeseries.com) and let us know what you think!\n\n## Our social media is growing!\n\nThousands of new views, comments and shares are happening right now on our Facebook page!\n\nMake sure you're part of the conversation:\n- Follow us on [Facebook](https://www.facebook.com/watchrememberme)\n- Follow us on [Instagram](https://www.instagram.com/watchrememberme)\n\n## Read Our Latest Blog Posts\n\n- [Why These Stories Exist](https://remembermeseries.com/blog/why-these-stories-exist)\n- [You Don't Have to Know What to Say](https://remembermeseries.com/blog/you-dont-have-to-know-what-to-say)\n\n## Read Our Latest Devotionals\n\n- [Who Touched Me](https://remembermeseries.com/devotions/who-touched-me)\n\n\n### Help us spread the word, share this with a friend!\n\nWe're doing everything we can to keep the Remember Me Project free for everyone. \n\nHowever, this is a small project led solely by Bill McConnell, and a small passionate team. Your support during this early phase is indispensable. \n\nWe humbly ask that you share this with someone you know as we build this project out. Help us spread the word!\n\nThank you,\n\n- *Bill McConnell & the Remember Me Team*",
        "destinationKey": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        384,
        -32
      ],
      "id": "aeb4637e-4cc5-4ce2-8370-18064b26ac0a",
      "name": "Email Body"
    },
    {
      "parameters": {
        "sendTo": "=cgomez@xixmia.com",
        "subject": "=A message for you {{ $json['[\\'First Name\\']'] }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4;\">\n    <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        \n        <tr>\n            <td align=\"center\" style=\"padding: 20px 0 20px 0;\">\n                <img src=\"https://lh3.googleusercontent.com/pw/AP1GczNaf8xl_k-hjQ1n032XjB5Y28ixVaABjVHiae_g8wKH-P7LqPVijdu-_yjLytkdCIqCRJgh2ZUQs57sH_DzwAlJa9ENgfyHFx3nON54BllqIczbOFnWL7yHPndPUJjoBKSQa1EVPHuviBQozZnPsVI=w1919-h429-s-no-gm?authuser=0\" alt=\"Remember Me Logo\" width=\"260px\" style=\"display: block; width: 260px; max-width: 100%; height: auto;\">\n            </td>\n        </tr>\n        \n        <tr>\n            <td style=\"padding: 20px 30px 40px 30px; color: #333333; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6;\">\n                <!-- ENTER EMAIL BODY HERE -->\n                {{ $json.body }}\n            </td>\n        </tr>\n        \n        <tr>\n            <td align=\"center\" style=\"padding: 20px 30px; background-color: #eeeeee; color: #888888; font-family: Arial, sans-serif; font-size: 12px;\">\n                <p>You are receiving this email because you signed up on our website.</p>\n            </td>\n        </tr>\n\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -32
      ],
      "id": "cbb8ccb4-3b90-4db8-81dc-8be4b3804022",
      "name": "Send a message",
      "webhookId": "fe38d7af-6938-4f67-ae54-eec2b180071a",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "ne8e8o5M3GsIpWyl",
          "name": "Remember Me Gmail"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-23T01:02:37.433Z",
      "createdAt": "2025-12-23T01:02:37.433Z",
      "role": "workflow:owner",
      "workflowId": "Q5hxh90nLVgY8rGm",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-01T18:50:41.000Z",
  "versionId": "ba75be17-33b0-4a30-a3f5-20446599f3ba"
}