workflows/SkwFJnEmBZstpwgX.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "3.1 Gemini Outliner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "3.1 Gemini Outliner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '05 - Image Gen & Update Post'": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for WP": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Call '05 - Image Gen & Update Post'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3.1 Gemini Writer": {
      "main": [
        [
          {
            "node": "Format for WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3.1 Gemini Outliner": {
      "main": [
        [
          {
            "node": "3.1 Gemini Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-18T14:19:45.954Z",
  "id": "SkwFJnEmBZstpwgX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "04 Generate an Article",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -128
      ],
      "id": "1b16edcc-0e26-41db-ac2b-50d5aef8c89f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8",
          "mode": "list",
          "cachedResultName": "tallo_prog_relevant_keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731860562,
          "mode": "list",
          "cachedResultName": "content_brief",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit#gid=1731860562"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "new"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -128
      ],
      "id": "4bca4000-20ca-4a38-ac7f-316bca32d0f2",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Kf-h1Ua6b2IZj6Qw609yMUCtmKMZcdh8hZcc66JK6NY",
          "mode": "list",
          "cachedResultName": "internal_urls",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kf-h1Ua6b2IZj6Qw609yMUCtmKMZcdh8hZcc66JK6NY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "1 - Page Titles - All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kf-h1Ua6b2IZj6Qw609yMUCtmKMZcdh8hZcc66JK6NY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        80
      ],
      "id": "47ebf72e-b15c-4310-a3fd-3b4244e19a7f",
      "name": "Get row(s) in sheet in Google Sheets"
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.content }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1920,
        -128
      ],
      "id": "340daf88-8345-4165-8069-07439344e9be",
      "name": "Create a post"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DFz0wxzg-6xtRtcKtipku",
          "mode": "list",
          "cachedResultUrl": "/workflow/DFz0wxzg-6xtRtcKtipku",
          "cachedResultName": "05 - Image Gen & Update Post"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2480,
        -128
      ],
      "id": "2e24f8f7-ce6e-4146-94a1-b686a5c97126",
      "name": "Call '05 - Image Gen & Update Post'"
    },
    {
      "parameters": {
        "jsCode": "// Function to split the raw HTML into a WordPress-friendly JSON object\nfunction formatForWordPress(rawHtml) {\n  let htmlString = String(rawHtml).trim();\n\n  // Find the very first heading to use as the Title\n  const titleMatch = htmlString.match(/<h[1-6]>(.*?)<\\/h[1-6]>/);\n  \n  let postTitle = \"Untitled Draft\";\n  let postContent = htmlString;\n\n  // Extract the title and remove it from the body content\n  if (titleMatch) {\n    postTitle = titleMatch[1].trim(); \n    postContent = htmlString.replace(titleMatch[0], '').trim(); \n  }\n\n  return {\n    title: postTitle,\n    content: postContent,\n    status: 'draft' \n  };\n}\n\n// ==========================================\n// IMPLEMENTATION FOR NESTED API OUTPUT\n// ==========================================\n\n// 1. Grab the raw incoming JSON from the previous node\n// (Assuming n8n syntax here. If the array is sitting at the root of your JSON:)\nconst incomingData = $input.item.json; \n\nlet aiText = \"\";\n\ntry {\n  // 2. Dig through the nested arrays/objects to find the exact text string\n  // If the incoming data is the array itself:\n  if (Array.isArray(incomingData)) {\n    aiText = incomingData[0].content.parts[0].text;\n  } \n  // If the array is wrapped inside another property (e.g., incomingData.message):\n  else if (incomingData.content && incomingData.content.parts) {\n    aiText = incomingData.content.parts[0].text;\n  } \n  // Fallback just in case the structure is slightly different\n  else {\n    throw new Error(\"Unexpected JSON structure.\");\n  }\n} catch (error) {\n  // If it fails to find the path, output an error so the workflow doesn't crash silently\n  return { \n    json: { \n      _error: \"Could not locate the text at content.parts[0].text\", \n      message: error.message \n    } \n  };\n}\n\n// 3. Run the extracted text through the formatting function\nconst wpPayload = formatForWordPress(aiText);\n\n// 4. Return the beautifully formatted WordPress payload!\nreturn { json: wpPayload };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -128
      ],
      "id": "8f81b599-0369-478e-90ba-58fbb51a124c",
      "name": "Format for WP"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8",
          "mode": "list",
          "cachedResultName": "tallo_prog_relevant_keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 962406146,
          "mode": "list",
          "cachedResultName": "articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit#gid=962406146"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.id }}",
            "post_title": "={{ $json.title.raw }}",
            "post_status": "={{ $json.status }}",
            "post_date": "={{ $json.date }}",
            "featured_media": "={{ $json.featured_media }}"
          },
          "matchingColumns": [
            "post_id"
          ],
          "schema": [
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_title",
              "displayName": "post_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_date",
              "displayName": "post_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_status",
              "displayName": "post_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "featured_media",
              "displayName": "featured_media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        -128
      ],
      "id": "637fa3fc-9177-40fb-9221-5a69c633bddf",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-pro-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a ~{{ $('Get row(s) in sheet').item.json.recommended_word_count }} word article following the guidelines in the system prompt based this outline:\n{{ $json.content.parts[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "=You are an expert Content Writer for Tallo, writing engaging, conversational, and highly actionable blog posts for young professionals and students. \n\nInstructions:\n1. Review the Article Title and Outline to understand the context and tone of the piece.\n2. Focus ONLY on writing the content for the \"Section Heading\" provided. \n3. Seamlessly weave the \"Key Talking Points\" into your paragraphs. Do not just list them as bullet points; expand on them with examples.\n4. If an internal URL is provided, organically weave a reference to it into the text and format it as an HTML hyperlink (e.g., <a href=\"...\">text</a>). If it says \"null\", do not invent a source.\n5. Format your output in clean HTML. Start with an <h2> tag for the Section Heading, followed by <p> tags for your paragraphs. Do not wrap the output in markdown code blocks.\n\nBrand Context:\nBrand Identity & Audience\n\nTallo is a digital career platform that moves individuals ages 13-30 from career uncertainty to confident action. With over 2 million users, Tallo helps students and early professionals discover and explore career options, learn and earn valuable credentials, and ultimately, connect directly with employers to get a job that helps them build a better life.\n\nTone & Style:\nWrite in a conversational, supportive tone—like a knowledgeable older sibling or favorite teacher giving practical advice\nBe clear and direct. Get to the point without excessive introductory fluff\nUse accessible language. Explain technical terms when you use them\nBe realistic and honest, not aspirational or overly motivational\nAvoid hype words like \"amazing,\" \"incredible,\" \"revolutionary,\" \"unlock,\" \"empower,\" \"transform\"\nAvoid absolute terms like \"always,\" \"never,\" \"perfect.\" Use \"often,\" \"typically,\" \"rarely,\" \"well-suited\" instead\n \nWhat NOT to do:\nDon't use \"dream career\" or \"dream job\" language\nDon't overuse inspirational/motivational phrases\nDon't try to sound cool or use Gen Z/Gen Alpha slang\nDon't be overly formal or corporate\nDon't use excessive metaphors or clever wordplay\nDon't stack adjectives or use flowery language\nAvoid phrases like \"unlock your potential,\" \"journey to greatness,\" \"achieve your dreams\"\n \nStructure & Format:\nUse short paragraphs (2-4 sentences typically)\nInclude subheadings to break up content\nUse bullet points for lists, but only when genuinely helpful\nLead with the most important information\nProvide specific, actionable next steps\n \nContent Approach:\nBack claims with data when possible\nAcknowledge challenges honestly (e.g., \"this isn't easy\" rather than \"you've got this!\")\nValidate different paths—never position one educational or career route as superior to another\nFocus on practical guidance over inspiration\nUse \"can\" and \"could\" more than \"will\" and \"should\"\nPresent options and let readers decide what fits them\nLink to Tallo product pages when it's natural (don't force it)\nSign up URL with tracking params: https://tallo.com/talent/create-account?utm_source=pseo&utm_medium=blog&utm_campaign=pseo\n \nWriting about careers/education:\nNever suggest one path (4-year degree, trade school, etc.) is better than another\nUse neutral language: \"paths\" or \"routes\" not \"alternatives\"\nAvoid positioning anything as a \"backup plan\"\nDon't use \"just\" or \"only\" with any education type\nConnect all paths directly to career outcomes\n \nKey phrases TO use:\n\"Here's what to know...\"\n\"Let's break this down...\"\n\"This can help you...\"\n\"Worth exploring...\"\n\"Consider...\"\n\"If this interests you...\"\n \nKey phrases to AVOID:\n\"Unlock,\" \"Transform,\" \"Empower\"\n\"Your journey,\" \"Your path to greatness\"\n\"Dream career/job\"\n\"The sky's the limit\"\n\"Achieve your dreams\"\n\"You've got this!\" (overly cheerleader-ish)\n \nSpecific example transformations:\nBad: \"Unlock your potential with these amazing strategies!\"\nGood: \"Here are some strategies that can help you explore your options.\"\nBad: \"Transform your career journey today!\"\nGood: \"Ready to take your next step? Here's where to start.\"\nBad: \"Find your dream job and achieve greatness!\"\nGood: \"Find work that aligns with your skills and interests.\"\n \nCall-to-Action style:\nBe direct and practical\nBad: \"Start your journey to success today!\"\nGood: \"Ready to explore? Create your free Tallo profile to get started.\"\n \nAudience considerations:\nPrimary audience: ages 13-30\nWrite at a level a 13-year-old can understand, but that a 30-year-old finds valuable\nDon't talk down to readers\nAvoid assuming they know jargon or industry terms\n \nData & facts:\nNever fabricate or estimate numbers\nIf salary data is mentioned, use exact figures provided\nCite sources for any specific facts or figures\n\nFormatting & Output Rules Format the body content using clean HTML tags (e.g., <h2>, <p>, <ul>, <strong>)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1168,
        -128
      ],
      "id": "ce8a1bd5-9cac-4a02-8269-96e57308c75d",
      "name": "3.1 Gemini Writer"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-pro-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze this content brief and create an outline for an article:\n\nArticle Goal: {{ $json.goal }}\nPrimary Keyword: {{ $json.primary_keyword }}\nTarget Audience: {{ $json.target_audience }}\nFunnel Stage: {{ $json.funnel_stage }}\nTarget Intent: {{ $json.search_intent }}\nAngle/Point of View:\"{{ $json.serp_ai_overview }}\"\nSERP AI Overview: \n\"{{ $json.serp_ai_overview }}\"\nTop SERP URLs: {{ $json.top_serp_urls }}\nQuestions people also ask:\"{{ $json.people_also_ask }}\"\nRelated Topics:\"{{ $json.sub_topics }}\"\nCompetitor Analysis: \"{{ $json.competitor_analysis }}\"\nInternal URLs: I included a sheet for you to reference in your tools."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "=You are an expert Content Strategist and SEO Outliner for Tallo.\n\nYour objective is to create highly engaging, structured blog post outlines tailored to our specific audiences: Career Explorers (13-18), Career Starters (18-24), and Career Changers (24-30+).\n\nYou will be provided with a Topic, a specific Angle, the Target Audience, and other research on the primary keyword.\n\nInstructions: \n1. Adhere strictly to the provided \"Angle.\" Do not write a generic outline; lean heavily into the specific perspective requested. \n2. Tailor the tone, examples, and complexity to the specified \"Target Audience.\"\n3. Distribute the internal URLs provided in your tools throughout the outline where they make the most sense. \n4. You must output your response in valid JSON format.\n\nJSON Output Structure: \n{   \"proposed_title\": \"A catchy, click-worthy H1 title\",   \"introduction_hook\": \"A brief summary of the hook and how it addresses the audience's pain point\",   \"sections\": [     {       \"heading\": \"The H2 heading text\",       \"key_talking_points\": [\"Point 1\", \"Point 2\", \"Point 3\"],       \"internal_link\": \"Include a URL from the internal links sheet in your tools if relevant to this section, otherwise output null\"     }   ],   \"conclusion_and_cta\": \"What the user should do next (e.g., build their profile on Tallo, check out a specific tool)\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        704,
        -128
      ],
      "id": "018e60fe-0662-43ad-bc28-1828695a1130",
      "name": "3.1 Gemini Outliner"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8",
          "mode": "list",
          "cachedResultName": "tallo_prog_relevant_keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731860562,
          "mode": "list",
          "cachedResultName": "content_brief",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4rW4dW32ia3C7lxHsqQtWE5pP8P2CdKE6R3hrG1eO8/edit#gid=1731860562"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "primary_keyword": "={{ $('Get row(s) in sheet').item.json.primary_keyword }}",
            "status": "post_created",
            "last_updated": "={{ $now }}"
          },
          "matchingColumns": [
            "primary_keyword"
          ],
          "schema": [
            {
              "id": "primary_keyword",
              "displayName": "primary_keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "funnel_stage",
              "displayName": "funnel_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "serp_ai_overview",
              "displayName": "serp_ai_overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top_serp_urls",
              "displayName": "top_serp_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "people_also_ask",
              "displayName": "people_also_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sub_topics",
              "displayName": "sub_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_intent",
              "displayName": "search_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competitor_analysis",
              "displayName": "competitor_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "angle_pov",
              "displayName": "angle_pov",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_word_count",
              "displayName": "recommended_word_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        -128
      ],
      "id": "326fbc42-54f6-440a-aab4-bfddba5e6dea",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        128,
        96
      ],
      "id": "8bb21367-0009-4d61-9506-3b26ffdceeb0",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-18T14:19:45.958Z",
      "createdAt": "2026-03-18T14:19:45.958Z",
      "role": "workflow:owner",
      "workflowId": "SkwFJnEmBZstpwgX",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T17:39:18.196Z",
  "versionId": "b11a6df6-4d58-462b-b4ed-52daecd3b298"
}