workflows/uI5M32id196ZfNRP.json
{
  "active": false,
  "connections": {
    "Clean Documentation": {
      "main": [
        [
          {
            "node": "Remove Duplicate Documentation Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chunk Embedding": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get Documentation Page": {
      "main": [
        [
          {
            "node": "Extract Documentation Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Documentation Content": {
      "main": [
        [
          {
            "node": "Clean Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Documentation Content": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T16:00:05.609Z",
  "id": "uI5M32id196ZfNRP",
  "isArchived": false,
  "meta": null,
  "name": "My Sub-workflow",
  "nodes": [
    {
      "parameters": {
        "notice": "",
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "8b411025-ad1f-4656-84d7-902ced049923",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "creator": "Lucas Peyrin",
      "position": [
        3664,
        2112
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "notice": "",
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.documentation }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "2916c373-0c6b-4315-a14d-481d674a324f",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "creator": "Lucas Peyrin",
      "position": [
        3568,
        1904
      ],
      "typeVersion": 1.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "notice": "",
        "modelName": "models/text-embedding-004"
      },
      "id": "cbcc6097-c4a7-45d4-a852-5ab69d8f1e14",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Gemini Chunk Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "creator": "Lucas Peyrin",
      "position": [
        3440,
        1904
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "NF7SyR12WXtvl3s7",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.documentation }}",
        "options": {
          "scope": "node",
          "historySize": 10000
        }
      },
      "id": "4855516e-4a0d-4881-8dc4-592cf8b133a9",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Remove Duplicate Documentation Content",
      "type": "n8n-nodes-base.removeDuplicates",
      "creator": "Lucas Peyrin",
      "position": [
        2944,
        1680
      ],
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "5ed964a6-5200-454c-b983-f3dc7c8c7a48",
              "name": "documentation",
              "type": "string",
              "value": "={{ $json.data.replace(/([^#\\n]+)\\s*#/g, '# $1').trim().replace(/^\\s*https?:\\/\\/\\S+\\s*/, '') }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "b07b416b-f5cd-439a-b935-ce58c2a2f180",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Clean Documentation",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        2512,
        1680
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "curlImport": "",
        "method": "GET",
        "url": "=https://docs.n8n.io/{{ $json.link }}",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "id": "1c772047-a2f9-427a-b090-dbf00a257c9c",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Get Documentation Page",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        1984,
        1680
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "ragStarterCallout": "",
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "n8n_documentation_vector_store"
        },
        "embeddingBatchSize": 30,
        "clearStore": false,
        "notice": ""
      },
      "id": "85ff7226-9931-41d7-9ca5-c9a6f153fe26",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Simple Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "creator": "Lucas Peyrin",
      "position": [
        3472,
        1680
      ],
      "typeVersion": 1.3,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "sourceData": "json",
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "article",
              "returnValue": "text",
              "skipSelectors": "img, footer, form",
              "returnArray": false
            }
          ]
        },
        "options": {}
      },
      "id": "d7cd75ad-e76d-45c7-8791-e6b9cf0e2106",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Extract Documentation Content",
      "type": "n8n-nodes-base.html",
      "creator": "Lucas Peyrin",
      "position": [
        2288,
        1664
      ],
      "typeVersion": 1.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "id": "28384c65-fb4b-4a68-9543-04ba76b9a889",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2080,
        1664
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T16:00:05.611Z",
      "createdAt": "2025-11-19T16:00:05.611Z",
      "role": "workflow:owner",
      "workflowId": "uI5M32id196ZfNRP",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T16:00:05.609Z",
  "versionId": "6c7fb26a-0713-40a2-aa49-e56fe28ac60b"
}