workflows/v0MeVz0zp1Osw92Y.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Website Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Website Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Website Builder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Website Builder": {
      "main": [
        [
          {
            "node": "Edit site-content.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit site-content.json": {
      "main": [
        [
          {
            "node": "Edit astro.config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit astro.config": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-24T01:53:02.728Z",
  "id": "v0MeVz0zp1Osw92Y",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "System - Visual Designer",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        -16
      ],
      "id": "f037bafb-27d1-4a37-b6ef-7a634e371517",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "5e252eec-0328-4a99-9e63-262469e00ce3",
      "name": "gpt-4o",
      "credentials": {
        "openAiApi": {
          "id": "PgqwHquDEYK6dlgo",
          "name": "XIX OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Client: {{ $('When Executed by Another Workflow').item.json.client }}\nIndustry: {{ $('When Executed by Another Workflow').item.json.industry }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert UI/Visual Designer.\nYour task is to generate a visual theme JSON based on the client's industry and description.\n\nRULES:\n1. Fonts: Choose 2 distinct Google Fonts.\n   - Law/Finance = Serif heading (Playfair Display, Lora).\n   - Tech/Startup = Sans heading (Inter, Space Grotesk).\n   - Kids/Creative = Rounded/Display (Fredoka, Nunito).\n2. Colors: Generate 6 hex codes. Ensure 'text' contrasts with 'background'.\n3. Radius: \n   - Strict = \"0px\" or \"0.25rem\"\n   - Friendly = \"1rem\" or \"1.5rem\"\n\nOUTPUT:\nReturn ONLY valid JSON matching this schema:\n{\n  \"fonts\": { \"heading\": \"String\", \"body\": \"String\" },\n  \"borderRadius\": { \"DEFAULT\": \"String\", \"lg\": \"String\" },\n  \"colors\": {\n    \"primary\": \"#Hex\", \"secondary\": \"#Hex\", \"accent\": \"#Hex\",\n    \"background\": \"#Hex\", \"surface\": \"#Hex\", \"text\": \"#Hex\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        -16
      ],
      "id": "3f0d2c1f-10f5-4dab-9ddc-5cf127f2f0ab",
      "name": "Website Builder"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"fonts\": { \"heading\": \"String\", \"body\": \"String\" },\n  \"borderRadius\": { \"DEFAULT\": \"String\", \"lg\": \"String\" },\n  \"colors\": {\n    \"primary\": \"#Hex\", \"secondary\": \"#Hex\", \"accent\": \"#Hex\",\n    \"background\": \"#Hex\", \"surface\": \"#Hex\", \"text\": \"#Hex\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "5513c4c6-15e8-42be-b5df-cf2812e90641",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "259f03d2-c665-4d28-b544-1b0a1dceb308",
              "name": "response",
              "value": "=Success! I have generated the architecture for {{ $('When Executed by Another Workflow').item.json.client }} and pushed the code to GitHub. Deployment should be live shortly.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -16
      ],
      "id": "6fc1ba80-42ca-4630-a066-d459457d1785",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "cgdops",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Clone Template').item.json.name }}",
          "mode": "name"
        },
        "filePath": "src/data/site-content.json",
        "fileContent": "={{ JSON.stringify($json.output) }}",
        "commitMessage": "=AI update: {{ $('When Executed by Another Workflow').item.json.client }} site build"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        896,
        -16
      ],
      "id": "d04a79d0-5f02-4060-b4b3-c816aacb1296",
      "name": "Edit site-content.json",
      "webhookId": "1894c2ed-0bbf-4b9e-ae68-a13163d9b905",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Clone Template').item.json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Clone Template').item.json.name }}"
        },
        "filePath": "astro.config.mjs",
        "fileContent": "=import { defineConfig } from 'astro/config'; import tailwind from '@astrojs/tailwind';  export default defineConfig({   integrations: [tailwind()],   site: 'https://{{$env.AGENCY_GITHUB_OWNER}}.github.io',   base: '/{{ $('Clone Template').item.json.name }}',});",
        "commitMessage": "Update to astro.config file"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1456,
        -16
      ],
      "id": "f39a98b5-7377-48d6-a1e5-b4e42663841e",
      "name": "Edit astro.config",
      "webhookId": "27fd6b60-4069-48b9-9702-14d166dc41f0",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-24T01:53:02.732Z",
      "createdAt": "2025-11-24T01:53:02.732Z",
      "role": "workflow:owner",
      "workflowId": "v0MeVz0zp1Osw92Y",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T02:12:00.000Z",
  "versionId": "085bdd93-08d8-46c0-938e-1b63bdb7cd4e"
}