workflows/WHc0mFWOjQNdgLIt.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-24T15:42:32.536Z",
  "id": "WHc0mFWOjQNdgLIt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "sitemap xml analyzer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3dd6d22a-d852-4289-b6d2-3efa944fd2c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a3b8fc7-7373-4def-8a84-6ce17a950361",
              "name": "sitemap url",
              "value": "https://www.optimizely.com/sitemap.xml",
              "type": "string"
            },
            {
              "id": "04f9b9f0-925e-4eac-9607-9721d3a5e485",
              "name": "baseSiteUrl",
              "value": "optimizely.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "41cc6127-9a64-409b-827a-3f7989c56620",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sitemap URL for analysis: {{ $json['sitemap url'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert competitive intelligence analyst. Your job is to analyse the sitemap.xml page provided by the user and generate a report highlighting content strategy patterns or trends you spot. You're looking for recent trends, so focus on content published from {{ $now.minus({days: 28}).toISODate() }} to {{ $today.toFormat('yyyy-MM-dd') }}.\n\nOutput your analysis in JSON following this example:\n{\n    \"summary\":\"summary text\",\n    \"content\":\"complete content\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "2829272c-c1cf-4adc-8c1e-5a2d34ee9c17",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "83faa9b9-befc-4861-a39a-0bf3268eb3be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TWIr5lPub9oPsQVb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"summary\":\"summary text\",\n    \"content\":\"complete content\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        192
      ],
      "id": "40a09679-fa67-4e5b-957b-24f1314f695f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba87f606-b5ca-4de8-8c42-cd5b2fa5b71b",
              "name": "output.summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "ba955f99-3235-442a-9963-7612995640e7",
              "name": "output.content",
              "value": "={{ $json.output.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "a4c8b74e-2fe3-4bd2-ba85-9713f3d0ea36",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-24T15:42:32.545Z",
      "createdAt": "2025-11-24T15:42:32.545Z",
      "role": "workflow:owner",
      "workflowId": "WHc0mFWOjQNdgLIt",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T16:47:05.000Z",
  "versionId": "94b89521-7ca9-4106-9cfe-8e93d2e77de3"
}