workflows/ytXyuPaPjH0B17dv.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Website Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Website Builder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Website Builder": {
      "main": [
        [
          {
            "node": "Edit site-content.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit site-content.json": {
      "main": [
        [
          {
            "node": "Edit astro.config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit astro.config": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone Template": {
      "main": [
        [
          {
            "node": "Enable Hosting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enable Hosting": {
      "main": [
        [
          {
            "node": "Website Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'System - Visual Designer'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Clone Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-21T13:39:34.360Z",
  "id": "ytXyuPaPjH0B17dv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "System - Website Builder",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -16
      ],
      "id": "3c9e8dfc-1c92-400d-8ca7-94fe84486fd3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        848,
        192
      ],
      "id": "1a683f3a-d947-4471-9927-fe365bdfc553",
      "name": "gpt-4o",
      "credentials": {
        "openAiApi": {
          "id": "PgqwHquDEYK6dlgo",
          "name": "XIX OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Intent: {{ $('When Executed by Another Workflow').item.json.intent }}\nClient: {{ $('When Executed by Another Workflow').item.json.client }}\nIndustry: {{ $('When Executed by Another Workflow').item.json.industry }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Website Architect.\n\nYou will receive a Client Name and Industry.\n\nGenerate a generic website content JSON structure for them.\n\nStrictly follow this JSON Schema:\n\n{\n\n  \"meta\": { \"title\": \"String\", \"description\": \"String\" },\n\n  \"hero\": { \"headline\": \"String\", \"subheadline\": \"String\", \"ctaText\": \"String\" },\n\n  \"features\": [ { \"title\": \"String\", \"description\": \"String\", \"icon\": \"String\" } ]\n\n}\n\nRULES: \nYou MUST follow these rules when generating the JSON content.\n- Direct Answers: The hero.subheadline should directly answer \"What does this business do?\"\n- Lists: AI Overviews love bullet points. Your features array maps perfectly to this.\n- Return ONLY the JSON. No markdown formatting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        896,
        -16
      ],
      "id": "73476be1-0741-4ea0-b1ad-0b91b56aec68",
      "name": "Website Builder"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n  \"meta\": { \"title\": \"String\", \"description\": \"String\" },\n\n  \"hero\": { \"headline\": \"String\", \"subheadline\": \"String\", \"ctaText\": \"String\" },\n\n  \"features\": [ { \"title\": \"String\", \"description\": \"String\", \"icon\": \"String\" } ]\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        192
      ],
      "id": "04460b6d-3f2e-4180-9ade-414e65369c2a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "cgdops",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Clone Template').item.json.name }}",
          "mode": "name"
        },
        "filePath": "src/data/site-content.json",
        "fileContent": "={{ JSON.stringify($json.output) }}",
        "commitMessage": "=AI update: {{ $('When Executed by Another Workflow').item.json.client }} site build"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1376,
        -16
      ],
      "id": "d3b8dda5-28fb-4b2c-b152-62e0959aa9ac",
      "name": "Edit site-content.json",
      "webhookId": "4ae41706-a823-466d-b421-058ac4581c17",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Clone Template').item.json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Clone Template').item.json.name }}"
        },
        "filePath": "astro.config.mjs",
        "fileContent": "=import { defineConfig } from 'astro/config'; import tailwind from '@astrojs/tailwind';  export default defineConfig({   integrations: [tailwind()],   site: 'https://{{$env.AGENCY_GITHUB_OWNER}}.github.io',   base: '/{{ $('Clone Template').item.json.name }}',});",
        "commitMessage": "Update to astro.config file"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1664,
        -16
      ],
      "id": "cc7908c4-f553-46af-9fdb-4c789c6fb691",
      "name": "Edit astro.config",
      "webhookId": "1363ffab-a638-45ef-b8a4-3f752f4ac046",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$env.AGENCY_GITHUB_OWNER}}/{{$env.AGENCY_TEMPLATE_REPO}}/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"owner\": \"{{$env.AGENCY_GITHUB_OWNER}}\",\n  \"name\": \"client-{{ $json.client.toLowerCase().replace(/ /g, '-') }}\",\n  \"description\": \"Website for {{ $json.client }}\",\n  \"private\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        -16
      ],
      "id": "1a4cdee2-c91d-468d-8345-4c08d33acf7f",
      "name": "Clone Template",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$env.AGENCY_GITHUB_OWNER}}/{{ $json.name }}/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"source\": {\n    \"branch\": \"main\",\n    \"path\": \"/\"\n  },\n  \"build_type\": \"workflow\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -16
      ],
      "id": "48dfe75d-9feb-49bd-b92c-18eccdd55396",
      "name": "Enable Hosting",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v0MeVz0zp1Osw92Y",
          "mode": "list",
          "cachedResultUrl": "/workflow/v0MeVz0zp1Osw92Y",
          "cachedResultName": "System - Visual Designer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2416,
        -16
      ],
      "id": "182c360e-189e-4f39-bad3-39a28fe3a45e",
      "name": "Call 'System - Visual Designer'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a07048f-69de-4756-9348-274b365f1e18",
              "name": "client",
              "value": "={{ $('Edit Fields1').item.json.client }}",
              "type": "string"
            },
            {
              "id": "68962f60-cf58-4071-a74a-0131bfadca93",
              "name": "industry",
              "value": "={{ $('Edit Fields1').item.json.industry }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        -16
      ],
      "id": "f019ce6a-504f-489c-b2d3-ed3bed9d8fc5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15f05777-1cd1-42bb-a98b-6cfe317db320",
              "name": "client",
              "value": "={{ $json.client }}",
              "type": "string"
            },
            {
              "id": "a77b5992-565f-4a68-af18-bbe58414061f",
              "name": "industry",
              "value": "={{ $json.industry }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -16
      ],
      "id": "f0332328-a3ad-425b-b61e-3334aad93555",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "intent": "website_build",
          "client": "Ancat Media Group",
          "industry": "Broadcast Media"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "client": "Ancat Media Group",
          "industry": "Broadcast Media"
        }
      }
    ],
    "Call 'System - Visual Designer'": [
      {
        "json": {
          "client": "Ancat Media Group",
          "industry": "Broadcast Media"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-21T13:39:34.362Z",
      "createdAt": "2025-11-21T13:39:34.362Z",
      "role": "workflow:owner",
      "workflowId": "ytXyuPaPjH0B17dv",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T02:11:11.000Z",
  "versionId": "1c0956a0-9ccf-4d2d-8334-01e2c8400465"
}