workflows/ytXyuPaPjH0B17dv.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Website Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Website Builder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Website Builder": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Website Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-21T13:39:34.360Z",
  "id": "ytXyuPaPjH0B17dv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "System - Website Builder",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        -16
      ],
      "id": "3c9e8dfc-1c92-400d-8ca7-94fe84486fd3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        192
      ],
      "id": "1a683f3a-d947-4471-9927-fe365bdfc553",
      "name": "gpt-4o",
      "credentials": {
        "openAiApi": {
          "id": "PgqwHquDEYK6dlgo",
          "name": "XIX OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Intent: {{ $json.intent }}\nClient: {{ $json.client }}\nIndustry: {{ $json.industry }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Website Architect.\n\nYou will receive a Client Name and Industry.\n\nGenerate a generic website content JSON structure for them.\n\nStrictly follow this JSON Schema:\n\n{\n\n  \"meta\": { \"title\": \"String\", \"description\": \"String\" },\n\n  \"hero\": { \"headline\": \"String\", \"subheadline\": \"String\", \"ctaText\": \"String\" },\n\n  \"features\": [ { \"title\": \"String\", \"description\": \"String\", \"icon\": \"String\" } ]\n\n}\n\nReturn ONLY the JSON. No markdown formatting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        688,
        -16
      ],
      "id": "73476be1-0741-4ea0-b1ad-0b91b56aec68",
      "name": "Website Builder"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n  \"meta\": { \"title\": \"String\", \"description\": \"String\" },\n\n  \"hero\": { \"headline\": \"String\", \"subheadline\": \"String\", \"ctaText\": \"String\" },\n\n  \"features\": [ { \"title\": \"String\", \"description\": \"String\", \"icon\": \"String\" } ]\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        208
      ],
      "id": "04460b6d-3f2e-4180-9ade-414e65369c2a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "259f03d2-c665-4d28-b544-1b0a1dceb308",
              "name": "response",
              "value": "=Success! I have generated the architecture for {{ $('When Executed by Another Workflow').item.json.client }} and pushed the code to GitHub. Deployment should be live shortly.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -16
      ],
      "id": "86da6da0-3d47-4d27-9e78-d7df8b4db813",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "cgdops",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('HTTP Request').item.json.name }}",
          "mode": "name"
        },
        "filePath": "src/data/site-content.json",
        "fileContent": "={{ JSON.stringify($json.output) }}",
        "commitMessage": "=AI update: {{ $('When Executed by Another Workflow').item.json.client }} site build"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1168,
        -16
      ],
      "id": "d3b8dda5-28fb-4b2c-b152-62e0959aa9ac",
      "name": "Create a file",
      "webhookId": "4ae41706-a823-466d-b421-058ac4581c17",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$env.AGENCY_GITHUB_OWNER}}/{{$env.AGENCY_TEMPLATE_REPO}}/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"owner\": \"{{$env.AGENCY_GITHUB_OWNER}}\",\n  \"name\": \"client-{{ $json.clientName.toLowerCase().replace(/ /g, '-') }}\",\n  \"description\": \"Website for {{ $json.clientName }}\",\n  \"private\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        -16
      ],
      "id": "1a4cdee2-c91d-468d-8345-4c08d33acf7f",
      "name": "HTTP Request",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$env.AGENCY_GITHUB_OWNER}}/{{ $json.name }}/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"source\": {\n    \"branch\": \"main\",\n    \"path\": \"/\"\n  },\n  \"build_type\": \"workflow\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        -16
      ],
      "id": "48dfe75d-9feb-49bd-b92c-18eccdd55396",
      "name": "HTTP Request1",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('HTTP Request').item.json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('HTTP Request').item.json.name }}",
          "mode": "url"
        },
        "filePath": "astro.config.mjs",
        "fileContent": "=import { defineConfig } from 'astro/config'; import tailwind from '@astrojs/tailwind';  export default defineConfig({   integrations: [tailwind()],   site: 'https://{{$env.AGENCY_GITHUB_OWNER}}.github.io',   base: '/{{ $('HTTP Request').item.json.name }}', // <--- n8n injects the new repo name here });"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1504,
        -16
      ],
      "id": "cc7908c4-f553-46af-9fdb-4c789c6fb691",
      "name": "Edit a file",
      "webhookId": "1363ffab-a638-45ef-b8a4-3f752f4ac046",
      "credentials": {
        "githubApi": {
          "id": "jlKEAYuzj6zEc5Hl",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "intent": "website_build",
          "client": "Ancat Media Group",
          "industry": "Broadcast Media"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-21T13:39:34.362Z",
      "createdAt": "2025-11-21T13:39:34.362Z",
      "role": "workflow:owner",
      "workflowId": "ytXyuPaPjH0B17dv",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T22:59:35.000Z",
  "versionId": "6a272f8d-9a6d-4509-9d80-0e6cd0364856"
}