workflows/ZVO4TIlU3GOHlP8d.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Transcript Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Text": {
      "main": [
        [
          {
            "node": "Tasker Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tasker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Tasker Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get projects": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasker Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command A Reasoning": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T20:27:22.665Z",
  "id": "ZVO4TIlU3GOHlP8d",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Project Manager Agent",
  "nodes": [
    {
      "parameters": {
        "content": "Take a meeting transcript from a recorded teams meeting\n\nsplit it up into actionable tasks with deadlines\n\nprioritize tasks along the effort/impact matrix\n\nestimate time taken to complete the task\n\nset a value to the task by multiplying the time to complete by my rate ($75/hour)",
        "height": 288,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -464
      ],
      "id": "f9f2092d-f08c-4637-b4a5-989d49613a80",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -400
      ],
      "id": "6729af8b-27ef-4367-ba11-0e2fd7c9dea5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01032929-0bb1-4820-9cbd-df0e6b82f100",
              "name": "transcript",
              "value": "Call with Carlos Alberto Gomez Mendez-20251119_130604-Meeting Transcript\nNovember 19, 2025, 6:06PM\n15m 24s\n\nChristian Gomez started transcription\n\nChristian Gomez   0:05\nGetting transcriptions from meetings and passing it to my my workload, so making tasks from them and stuff so.\nOn.\n\nCarlos Alberto Gomez Mendez   0:14\nYou're you're using Copilot.\n\nChristian Gomez   0:18\nNo, this is. I'm doing it through NAN.\n\nCarlos Alberto Gomez Mendez   0:22\nOh, nice.\n\nChristian Gomez   0:22\nYeah, yeah. So setting my tasks and then organizing them by priority. And so that way you guys have a road map of what's going on based off of our meetings.\n\nCarlos Alberto Gomez Mendez   0:35\nI think that's a good idea.\n\nChristian Gomez   0:36\nYeah, right.\n\nCarlos Alberto Gomez Mendez   0:38\nYeah, that that works pretty good. That's a a nice way to make this work, putting this A I stuff to work for you.\n\nChristian Gomez   0:46\nRight. Yeah, exactly. So tell me what's up.\n\nCarlos Alberto Gomez Mendez   0:50\nThat's nice.\nUh, let me see. I have some notes here. First of all, I'm still getting some.\nUh, stuff on on our newsletters. I don't know if you changed that. Uh.\nSo the bots cannot fill the forms or I I don't remember if we you were able to to update that part of the of the website.\n\nChristian Gomez   1:14\nYeah, I did update them, but there are. I noticed that there was like multiple newsletters. I'm not sure if I missed one of them. So in the API call or wherever you're getting the spam, is there any sort of identifier of what newsletter it'd be coming from?\n\nCarlos Alberto Gomez Mendez   1:33\nUm, I don't think so. I just let me see. Let me see if I can pull that one.\n\nChristian Gomez   1:41\nNow I can just take a a closer look at the whole site and try and find what newsletter is causing that.\n\nCarlos Alberto Gomez Mendez   1:48\nI think I can get the URL, but not the exact form. Maybe we can pull it from the URL. Let me see.\n\nChristian Gomez   1:51\nOK.\nLike ID.\nYeah, yeah, that'll help. Anything will help, so.\n\nCarlos Alberto Gomez Mendez   2:03\nGive me just one minute.\nOh, let me see.\nLet me let me share my screen. I don't know if it works for you. So I'm just getting e-mail list first name and last name and the header.\nUh.\nMake sure if any of these works for you.\n\nChristian Gomez   3:18\nLet's see.\n\nCarlos Alberto Gomez Mendez   3:27\nHose.\nAnd I just have like the.\nThe homepage here.\nIt can be the home page. Uh.\n\nChristian Gomez   3:40\n3.\n\nCarlos Alberto Gomez Mendez   3:42\nSo well, if you Scroll down, we have the newsletter here, so it can be the homepage actually.\n\nChristian Gomez   3:49\nMm-hmm. But even there we've added the captcha, so it looks like we have two layers of.\nMm-hmm. And then if you Scroll down more to the footer.\n\nCarlos Alberto Gomez Mendez   3:58\nI remember after after adding. Yeah, all the way on the floor.\n\nChristian Gomez   4:06\nYeah, no, there's nothing in the footer. OK.\n\nCarlos Alberto Gomez Mendez   4:07\nThe way down.\nUm, after we added the catch, I remembered that you included something else.\n\nChristian Gomez   4:18\nYeah, it was the honey pot field.\n\nCarlos Alberto Gomez Mendez   4:18\nUh, that did work, yeah.\n\nChristian Gomez   4:22\nYeah. OK. So let me, um, I'll double check that. I'll dig in a little deeper, make sure that the honeypot's there and it's working.\n\nCarlos Alberto Gomez Mendez   4:30\nYeah, and the other newsletter we have.\n\nChristian Gomez   4:32\nHow much? What's like the volume of spam that that you're getting?\n\nCarlos Alberto Gomez Mendez   4:37\nOh my gosh, it's getting worse. So let me show you.\n\nChristian Gomez   4:40\nHmm.\n\nCarlos Alberto Gomez Mendez   4:44\nSo this is the run history of the power ups. This is the end point that you sent and basically most of these are bots like the last 8 hours.\n\nChristian Gomez   4:57\nWell.\n\nCarlos Alberto Gomez Mendez   5:00\nIt's getting out of control and then the the errors that I'm getting is because they gets.\n\nChristian Gomez   5:02\nYeah.\n\nCarlos Alberto Gomez Mendez   5:07\nThe first one is valid, it is on our database, but then I get an error because of a duplicate. As you can see it's basically at the same time all of them.\n\nChristian Gomez   5:11\nMhm.\nRight.\n\nCarlos Alberto Gomez Mendez   5:23\nOh, it's getting really bad right now. The good news is that so far we, I think we we have this error most of it on the newsletter, but on the ones that that we tested.\n\nChristian Gomez   5:24\nMhm.\nOK.\n\nCarlos Alberto Gomez Mendez   5:41\nUh, I will complain.\n\nChristian Gomez   5:42\nOK.\n\nCarlos Alberto Gomez Mendez   5:44\nUm, we have another newsletter here on the Foundation tab.\n\nChristian Gomez   5:49\nAs a matter of fact, I'm looking right now at the code and I see 123 fields submit and a captcha, so I actually don't see the honeypot field.\n\nCarlos Alberto Gomez Mendez   5:52\nI don't know.\n\nChristian Gomez   6:03\nIn the homepage.\n\nCarlos Alberto Gomez Mendez   6:07\nOh, probably that's the one.\n\nChristian Gomez   6:07\nLet me see if I think here we have a.\nUm.\nLet me see.\nOK, I see what it is.\nThe newsletter is kept within a.\nUh uh like a uh component that is not being utilized on the home page. It's a separate form on the home page.\n\nCarlos Alberto Gomez Mendez   6:36\nMhm.\n\nChristian Gomez   6:43\nSo then.\nOK, OK, so add the honeypot field to the newsletters on the homepage, OK.\n\nCarlos Alberto Gomez Mendez   6:58\nYeah, we we have another one here on foundation, just so you know.\n\nChristian Gomez   7:02\nYep, Yep, I'm looking at foundation as well right now.\n\nCarlos Alberto Gomez Mendez   7:03\nIt's the same component I think.\n\nChristian Gomez   7:07\nMhm.\n\nCarlos Alberto Gomez Mendez   7:11\nOK, so the other thing that we have, we're working on a.\nOn a marketing toolkit that our partners can use.\nAnd basically are like a one-pager PDF that they can, you know, download and use inside or outside their companies. And we're trying to find a place on the website where to put those and I think on the about page it will be the best place to put it.\n\nChristian Gomez   7:41\nMm-hmm.\n\nCarlos Alberto Gomez Mendez   7:43\nBut our team, especially Susana, wants this to be like pretty easy to do. So for example if a person hover over the about page, they can click on it pretty easily. I don't know how hard it is or if you have to to change like the.\n\nChristian Gomez   7:55\nMhm.\nMhm.\n\nCarlos Alberto Gomez Mendez   8:03\nCall header on the page or the if you have any other suggestions on how to do it, but this is the more pressing thing.\n\nChristian Gomez   8:07\nOh.\nSusana has a future in product development, so yeah, for sure that's a good idea. No, as as you were mentioning it, it it, that's exactly what came to mind is that when we hover over it, it shows a drop down menu with the resources.\nLink right under it and then resources would come to a section within about that has download our marketing kit and in the future can have other resources that you guys think of.\n\nCarlos Alberto Gomez Mendez   8:28\nOh.\nThat that will be perfect. I was thinking exactly the same thing. Like if you click on it, it doesn't take you to the to another page, but it directs you to something down here below high tech stuff. Yeah, a new section where you can download all the resources and it should be something that we can.\n\nChristian Gomez   8:40\nMhm.\nMm-hmm.\nThis section.\n\nCarlos Alberto Gomez Mendez   8:58\nI don't know, maybe add more resource overtime.\n\nChristian Gomez   9:02\nYeah, yeah, yeah, definitely. If it turns out to be that you guys have more than three resources or something like that, and it's some process that you guys do over time, it decide to do over time, then we'll create a resources page and have a list of all resources live there separately, but for one.\n\nCarlos Alberto Gomez Mendez   9:21\nOK.\n\nChristian Gomez   9:21\nKey resource I think under the about page like you're saying is perfect and then um another thing is in.\n\nCarlos Alberto Gomez Mendez   9:26\nYeah, probably they there will be like 5 different one pagers basically.\n\nChristian Gomez   9:31\nMhm.\n\nCarlos Alberto Gomez Mendez   9:33\nSo I think it will be fine down here.\n\nChristian Gomez   9:33\nOK.\nYeah and and also in the footer, a lot of people look for more detail in the footer. So in the company or maybe quick links we can add that anchor link as well. So it goes to about and goes to the resources section.\nIn the quick links.\n\nCarlos Alberto Gomez Mendez   9:51\nOK.\nYeah, I think that works perfectly.\n\nChristian Gomez   9:55\nPut it in two places. Yeah, OK, that should be easy enough to do.\n\nCarlos Alberto Gomez Mendez   9:58\nMhm.\n\nChristian Gomez   9:59\nThat should be easy enough to do.\n\nCarlos Alberto Gomez Mendez   10:02\nOK, when? When can I expect that to ready?\n\nChristian Gomez   10:06\nUh, I will.\nOh.\nTake a look at everything, calculate everything, and then I'll, um, shoot you an e-mail with, uh, what we talked about here and then the timeline for that.\nSo, but I don't see it taking more than a couple days. I think by the end of, yeah, by the end of this week we should have that ready.\n\nCarlos Alberto Gomez Mendez   10:22\nOK.\nYeah, that will be awesome. I think on Friday every member of the team will have their one page ready and then I can just put it on the website.\n\nChristian Gomez   10:40\nOK, perfect. Yeah. So as far as the content for that, is that something you'll be sending me?\n\nCarlos Alberto Gomez Mendez   10:43\nUm.\n\nChristian Gomez   10:47\nFor the one pages or?\n\nCarlos Alberto Gomez Mendez   10:48\nYeah, or or if there's an easy place where I can just import it because there will be like a PDF file so I can send in them over or or you know if you tell me where to put it, I can put it.\n\nChristian Gomez   10:55\nOK.\nIf you're storing them, if you're storing them in SharePoint or something, then you could just give me the link and then I can put a download button that'll download it to their browser.\n\nCarlos Alberto Gomez Mendez   11:10\nOK.\nYeah, that's awesome.\n\nChristian Gomez   11:13\nOK, alright, I'll send you some designs as well so we can kind of start to see what it would look like.\n\nCarlos Alberto Gomez Mendez   11:22\nUm, is is that a way instead of downloading you, you know how these pages have their?\nLike the quick view, like a PDF view, I think that that's better. And then if they want to download it, then it's up to them. I think that's even better.\n\nChristian Gomez   11:32\nAccordion.\nYeah, so the way it would work is you click the button and it opens up the PDF in the browser.\n\nCarlos Alberto Gomez Mendez   11:46\nOn the browser, yeah.\n\nChristian Gomez   11:47\nYeah, yeah.\n\nCarlos Alberto Gomez Mendez   11:49\nYeah, I think that's better.\n\nChristian Gomez   11:49\nAnd that way they can navigate, they can go back and go back to the website or whatever.\n\nCarlos Alberto Gomez Mendez   11:53\nExactly. Yeah, I think that's a a better user experience.\n\nChristian Gomez   11:57\nYeah, okay, sounds good.\n\nCarlos Alberto Gomez Mendez   12:00\nSo the last thing that this can wait until next week, no problem, is what we talked about the last time about redesigning the people's.\n\nChristian Gomez   12:05\nOK.\n\nCarlos Alberto Gomez Mendez   12:14\nAnd the events collection, I think the the awards collection of the award winners. I don't know if you have notes for that, but we need to work on that too. And the other thing that I wanted to.\n\nChristian Gomez   12:18\nMhm.\nYeah.\nYeah, I have some work, OK.\n\nCarlos Alberto Gomez Mendez   12:33\nTalk about is the events. So I wanna I wonder if we can have like a separate tab here where we can see like like see past events or archive events and then just people can click and see you know past agendas and things like that that way this.\n\nChristian Gomez   12:46\nMhm.\n\nCarlos Alberto Gomez Mendez   12:52\nWon't look empty, uh, until we have the the next year's agenda.\n\nChristian Gomez   12:54\nMhm.\nYeah, so um, right now view all.\n\nCarlos Alberto Gomez Mendez   13:00\nAnd then.\n\nChristian Gomez   13:04\nView all would it be? Would it show that as well or do we want to only view all active and then have it so that view past is a separate button?\n\nCarlos Alberto Gomez Mendez   13:14\nI think view pass should be a a separate button, yeah like view pass events. But something that we need to to keep in mind is that dynamics still show you like the the registration form if they fill the form after the event is closed.\n\nChristian Gomez   13:16\nOK, OK, OK.\nGotcha.\nMm-hmm.\n\nCarlos Alberto Gomez Mendez   13:33\nThen they will see the error message, but we need to think about how to hide out those registration forms if if the event it's over. That way they they only see the agenda.\n\nChristian Gomez   13:44\nI'm glad.\nYeah, I'm glad you brought that up because we'll have it on the record now, but that is a good idea to have once the a conditional visibility there that once the event date is passed, we hide the form completely, remove it from the Dom and display registration is now closed for this event.\n\nCarlos Alberto Gomez Mendez   13:59\nMhm.\nOh.\n\nChristian Gomez   14:05\nSort of element where where it'll communicate that, yeah, yeah, OK, we can do that.\n\nCarlos Alberto Gomez Mendez   14:08\nYeah, yeah, that's perfect. But we remember that we need to use the end date, not the start date. If people still register when the event is, it's running, especially for virtual, yeah.\n\nChristian Gomez   14:16\nRight.\nRunning OK.\nYeah, OK.\n\nCarlos Alberto Gomez Mendez   14:25\nOK.\nSo yeah, so in in order of priority, first the the about page. Well, I guess first the the newsletter, then the about page, then the events, and then the thing about the the awards collection and the people's collection.\n\nChristian Gomez   14:27\nSounds good.\nOK.\nSo newsletter, about page, events and then awards. OK, gotcha. Alright, so I'll summarize this and then send it over to you via e-mail. Uh, so you guys can keep track.\n\nCarlos Alberto Gomez Mendez   14:48\nMhm.\nPerfect. That will be awesome. I will text you on the number that you sent me using my US phone number. That way we can.\n\nChristian Gomez   14:59\nAlright.\nMhm.\nChap.\n\nCarlos Alberto Gomez Mendez   15:10\nStay more in touch that way.\n\nChristian Gomez   15:13\nOK, sounds good.\n\nCarlos Alberto Gomez Mendez   15:16\nOK, sounds like a plan.\n\nChristian Gomez   15:18\nAwesome. Talk soon, Carlos.\nBye.\n\nChristian Gomez stopped transcription\n",
              "type": "string"
            },
            {
              "id": "a10fe6e7-23ff-432b-816a-e4d7156a3d9b",
              "name": "project",
              "value": "HITEC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -400
      ],
      "id": "929fd2b3-8733-4d87-89f4-ca5aa21ad36b",
      "name": "Transcript Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -224,
        -176
      ],
      "id": "b3078e1c-3a22-4cbb-bd98-35c6dcf33b11",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "daMDEKdcOA89D1eG",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"project\":\"Project Name\",\n\t\"tasks\": [\n      {\n        \"task\":\"Task 1 Name\",\n        \"description\":\"Task 2 Description\",\n        \"priority\":\"1\",\n        \"priorityDescription\":\"Priority description 1\",\n              \"estimatedTimeToComplete\":\"2 hours\",\n        \"estimateTaskValue\":\"$150\"\n      },\n      {\n        \"task\":\"Task 2 Name\",\n        \"description\":\"Task 2 Description\",\n        \"priority\":\"2\",\n        \"priorityDescription\":\"Priority description 2\",\n        \"estimatedTimeToComplete\":\"1 hours\",\n        \"estimateTaskValue\":\"$75\"\n      }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        -176
      ],
      "id": "e2750d26-1217-4a91-9d44-acb5e2005f96",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        -400
      ],
      "id": "87b085b3-e9f5-4554-9cda-f63b2b28b171",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getAll"
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        384,
        -400
      ],
      "id": "8475f65a-f0e9-439f-b119-5918ffda803c",
      "name": "Get projects",
      "credentials": {
        "todoistApi": {
          "id": "Fyv1gAhmWw0x1HOY",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b67643d1-d701-4a69-b5e4-807ada253c71",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Transcript Text').item.json.project }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -400
      ],
      "id": "4a06b5e9-991c-48fd-8254-905e125d12f3",
      "name": "If"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "content": "={{ $('Split Out').item.json.task }}",
        "options": {
          "description": "={{ $('Split Out').item.json.description }}\n\nImpact/Effort Matrix:\n{{ $('Split Out').item.json.priorityDescription }}\n\nTime to complete: {{ $('Split Out').item.json.estimatedTimeToComplete }}\n\nEstimated cost: {{ $('Split Out').item.json.estimateTaskValue }}",
          "priority": "={{ $('Split Out').item.json.priority }}"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        800,
        -496
      ],
      "id": "4aba8f3c-54a3-48a0-a510-aa4bd2e390f1",
      "name": "Create a task",
      "credentials": {
        "todoistApi": {
          "id": "Fyv1gAhmWw0x1HOY",
          "name": "Todoist account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Qye0qohoe2tR8kSP",
          "mode": "list",
          "cachedResultName": "g3z-tasks",
          "cachedResultUrl": "/projects/QNfIJ0xZgM3QlqN4/datatables/Qye0qohoe2tR8kSP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ $('Split Out').item.json.task }}",
            "description": "={{ $('Split Out').item.json.description }}",
            "priority": "={{ $('Split Out').item.json.priority }}",
            "priorityDescription": "={{ $('Split Out').item.json.priorityDescription }}",
            "estimateTimeToComplete": "={{ $('Split Out').item.json.estimatedTimeToComplete }}",
            "estimatedTaskValue": "={{ $('Split Out').item.json.estimateTaskValue }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priorityDescription",
              "displayName": "priorityDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estimateTimeToComplete",
              "displayName": "estimateTimeToComplete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estimatedTaskValue",
              "displayName": "estimatedTaskValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1008,
        -496
      ],
      "id": "5786012c-e51f-4d8c-b086-3be9766f5048",
      "name": "Insert row"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project name: {{ $json.project }}\nMeeting transcript:\n\"{{ $json.transcript }}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're an expert project manager. The user will send you the name of the project along with plain text transcript of a meeting that occurred between Christian from G3Z Creative and a client. It is your job to read through the meeting and summarize the tasks and organize them into actionable tasks. Also, prioritize tasks against an effort/impact matrix, Rate each task priority from 4 to 1 as follows:\n\n4 - low effort / high impact\n3 - high effort / high impact\n2 - low effort / low impact\n1 - high effort / low impact\n\nInclude a short description of why you chose that priority.\n\nFormat your output in JSON format. The keys should include:\n- project name\n- task name\n- short description\n- priority\n- priority description\n- estimated time to complete\n- estimated task value (time to complete * agency rate of $75 per hour)\n\nBelow is an example JSON output for your reference:\n{\n        \"project\":\"RememberMe\",\n\t\"tasks\": [\n      {\n        \"task\":\"Task 1 Name\",\n        \"description\":\"Task 1 Description\",\n        \"priority\":\"4\",\n        \"priorityDescription\":\"Priority description 1\",\n        \"estimatedTimeToComplete\":\"2 hours\",\n        \"estimateTaskValue\":\"$150\"\n      },\n      {\n        \"task\":\"Task 2 Name\",\n        \"description\":\"Task 2 Description\",\n        \"priority\":\"3\",\n        \"priorityDescription\":\"Priority description 2\",\n        \"estimatedTimeToComplete\":\"1 hours\",\n        \"estimateTaskValue\":\"$75\"\n      }\n    ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        -400
      ],
      "id": "b726d705-0169-4ec9-9bb7-dad1ce7228b4",
      "name": "Tasker Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Tasker Agent').item.json.output.tasks }}",
        "options": {
          "systemMessage": "You are an expert project manager, your job is to take the JSON list of tasks provided by the user and summarize them in an email format to be sent to the client so they are aware of what is being worked on and how long it will take.\n\nOmit any cost or pricing information from the email summary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        -496
      ],
      "id": "a0363ee2-b62d-4dd4-90e8-2e0a80959b42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "command-r-08-2024",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        1184,
        -288
      ],
      "id": "550c643b-b218-45eb-9875-ecaf9ada3130",
      "name": "Command A Reasoning",
      "credentials": {
        "cohereApi": {
          "id": "daMDEKdcOA89D1eG",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-18T20:27:22.668Z",
      "createdAt": "2025-11-18T20:27:22.668Z",
      "role": "workflow:owner",
      "workflowId": "ZVO4TIlU3GOHlP8d",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-20T02:03:56.000Z",
  "versionId": "ce396d5b-3629-4845-99eb-2e39fda54c0d"
}