workflows/ZVO4TIlU3GOHlP8d.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Transcript Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Text": {
      "main": [
        [
          {
            "node": "Tasker Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tasker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Tasker Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get projects": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasker Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command A Reasoning": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T20:27:22.665Z",
  "id": "ZVO4TIlU3GOHlP8d",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Project Manager Agent",
  "nodes": [
    {
      "parameters": {
        "content": "Take a meeting transcript from a recorded teams meeting\n\nsplit it up into actionable tasks with deadlines\n\nprioritize tasks along the effort/impact matrix\n\nestimate time taken to complete the task\n\nset a value to the task by multiplying the time to complete by my rate ($75/hour)",
        "height": 288,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -464
      ],
      "id": "f9f2092d-f08c-4637-b4a5-989d49613a80",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -400
      ],
      "id": "6729af8b-27ef-4367-ba11-0e2fd7c9dea5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01032929-0bb1-4820-9cbd-df0e6b82f100",
              "name": "task_summary",
              "value": "Create a new social media marketing campaign and update the \"Who touched me video\" on the website.",
              "type": "string"
            },
            {
              "id": "a10fe6e7-23ff-432b-816a-e4d7156a3d9b",
              "name": "project",
              "value": "Remember Me",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -400
      ],
      "id": "929fd2b3-8733-4d87-89f4-ca5aa21ad36b",
      "name": "Transcript Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -224,
        -176
      ],
      "id": "b3078e1c-3a22-4cbb-bd98-35c6dcf33b11",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "daMDEKdcOA89D1eG",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"project\":\"Project Name\",\n\t\"tasks\": [\n      {\n        \"task\":\"Task 1 Name\",\n        \"description\":\"Task 2 Description\",\n        \"priority\":\"1\",\n        \"priorityDescription\":\"Priority description 1\",\n              \"estimatedTimeToComplete\":\"2 hours\",\n        \"estimateTaskValue\":\"$150\"\n      },\n      {\n        \"task\":\"Task 2 Name\",\n        \"description\":\"Task 2 Description\",\n        \"priority\":\"2\",\n        \"priorityDescription\":\"Priority description 2\",\n        \"estimatedTimeToComplete\":\"1 hours\",\n        \"estimateTaskValue\":\"$75\"\n      }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        -176
      ],
      "id": "e2750d26-1217-4a91-9d44-acb5e2005f96",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        -400
      ],
      "id": "87b085b3-e9f5-4554-9cda-f63b2b28b171",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getAll"
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        384,
        -400
      ],
      "id": "8475f65a-f0e9-439f-b119-5918ffda803c",
      "name": "Get projects",
      "credentials": {
        "todoistApi": {
          "id": "Fyv1gAhmWw0x1HOY",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b67643d1-d701-4a69-b5e4-807ada253c71",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Transcript Text').item.json.project }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -400
      ],
      "id": "4a06b5e9-991c-48fd-8254-905e125d12f3",
      "name": "If"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "content": "={{ $('Split Out').item.json.task }}",
        "options": {
          "description": "={{ $('Split Out').item.json.description }}\n\nImpact/Effort Matrix:\n{{ $('Split Out').item.json.priorityDescription }}\n\nTime to complete: {{ $('Split Out').item.json.estimatedTimeToComplete }}\n\nEstimated cost: {{ $('Split Out').item.json.estimateTaskValue }}",
          "priority": "={{ $('Split Out').item.json.priority }}"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        800,
        -496
      ],
      "id": "4aba8f3c-54a3-48a0-a510-aa4bd2e390f1",
      "name": "Create a task",
      "credentials": {
        "todoistApi": {
          "id": "Fyv1gAhmWw0x1HOY",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Qye0qohoe2tR8kSP",
          "mode": "list",
          "cachedResultName": "g3z-tasks",
          "cachedResultUrl": "/projects/QNfIJ0xZgM3QlqN4/datatables/Qye0qohoe2tR8kSP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ $('Split Out').item.json.task }}",
            "description": "={{ $('Split Out').item.json.description }}",
            "priority": "={{ $('Split Out').item.json.priority }}",
            "priorityDescription": "={{ $('Split Out').item.json.priorityDescription }}",
            "estimateTimeToComplete": "={{ $('Split Out').item.json.estimatedTimeToComplete }}",
            "estimatedTaskValue": "={{ $('Split Out').item.json.estimateTaskValue }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priorityDescription",
              "displayName": "priorityDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estimateTimeToComplete",
              "displayName": "estimateTimeToComplete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estimatedTaskValue",
              "displayName": "estimatedTaskValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1008,
        -496
      ],
      "id": "5786012c-e51f-4d8c-b086-3be9766f5048",
      "name": "Insert row"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project name: {{ $json.project }}\nTask summary:\n\"{{ $json.task_summary }}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're an expert project manager. The user will send you the name of the project along with plain text transcript of a meeting or summary of tasks that were discussed between Christian from G3Z Creative and a client. It is your job to read through the meeting and summarize the tasks and organize them into actionable tasks. Also, prioritize tasks against an effort/impact matrix, Rate each task priority from 4 to 1 as follows:\n\n4 - low effort / high impact\n3 - high effort / high impact\n2 - low effort / low impact\n1 - high effort / low impact\n\nInclude a short description of why you chose that priority.\n\nFormat your output in JSON format. The keys should include:\n- project name\n- task name\n- short description\n- priority\n- priority description\n- estimated time to complete\n- estimated task value (time to complete * agency rate of $75 per hour)\n\nBelow is an example JSON output for your reference:\n{\n        \"project\":\"RememberMe\",\n\t\"tasks\": [\n      {\n        \"task\":\"Task 1 Name\",\n        \"description\":\"Task 1 Description\",\n        \"priority\":\"4\",\n        \"priorityDescription\":\"Priority description 1\",\n        \"estimatedTimeToComplete\":\"2 hours\",\n        \"estimateTaskValue\":\"$150\"\n      },\n      {\n        \"task\":\"Task 2 Name\",\n        \"description\":\"Task 2 Description\",\n        \"priority\":\"3\",\n        \"priorityDescription\":\"Priority description 2\",\n        \"estimatedTimeToComplete\":\"1 hours\",\n        \"estimateTaskValue\":\"$75\"\n      }\n    ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        -400
      ],
      "id": "b726d705-0169-4ec9-9bb7-dad1ce7228b4",
      "name": "Tasker Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Tasker Agent').item.json.output.tasks }}",
        "options": {
          "systemMessage": "You are an expert project manager, your job is to take the JSON list of tasks provided by the user and summarize them in an email format to be sent to the client so they are aware of what is being worked on and how long it will take.\n\nOmit any cost or pricing information from the email summary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        -496
      ],
      "id": "a0363ee2-b62d-4dd4-90e8-2e0a80959b42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "command-r-08-2024",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        1184,
        -288
      ],
      "id": "550c643b-b218-45eb-9875-ecaf9ada3130",
      "name": "Command A Reasoning",
      "credentials": {
        "cohereApi": {
          "id": "daMDEKdcOA89D1eG",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-18T20:27:22.668Z",
      "createdAt": "2025-11-18T20:27:22.668Z",
      "role": "workflow:owner",
      "workflowId": "ZVO4TIlU3GOHlP8d",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T15:55:44.000Z",
  "versionId": "ee937684-dbc9-4085-8173-a0c4f4d2ff0c"
}