workflows/ZVO4TIlU3GOHlP8d.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Transcript Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T20:27:22.665Z",
  "id": "ZVO4TIlU3GOHlP8d",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Project Manager Agent",
  "nodes": [
    {
      "parameters": {
        "content": "Take a meeting transcript from a recorded teams meeting\n\nsplit it up into actionable tasks with deadlines\n\nprioritize tasks along the effort/impact matrix\n\nestimate time taken to complete the task\n\nset a value to the task by multiplying the time to complete by my rate ($75/hour)",
        "height": 288,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -464
      ],
      "id": "f9f2092d-f08c-4637-b4a5-989d49613a80",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -400
      ],
      "id": "6729af8b-27ef-4367-ba11-0e2fd7c9dea5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01032929-0bb1-4820-9cbd-df0e6b82f100",
              "name": "transcript",
              "value": "RememberMe Weekly Meeting-20251118_160647UTC-Meeting Recording \n\nNovember 18, 2025, 3:30PM \n\n36m 16s \n\n \nChristian Gomez   0:09 \nGood morning, Bill. How are you? Good, good, good to see you. \n\n \nWILLIAM MCCONNELL   0:09 \nGood morning. Good. How are you? \n\n \nChristian Gomez   0:13 \nTo you. \n\n \nWILLIAM MCCONNELL   0:13 \nGood to see you. \nWell, what's going on? \n\n \nChristian Gomez   0:19 \nOh, been busy. Real busy. Lots of projects trying to get on this. Um. \nAI wave and seeing how we can apply it to the business. \n\n \nWILLIAM MCCONNELL   0:32 \nRight. \n\n \nChristian Gomez   0:32 \nYeah. How you been? \n\n \nWILLIAM MCCONNELL   0:34 \nGood, good. Just every day I'm reaching out via e-mail to different influencers and people that have podcasts and women's ministries, and I've identified. \n77 churches in Dave, Broward and Palm Beach and I'm trying to get a hold of their women's ministry and that's one of the things that I want to ask you about regarding. \nIt's always better if an e-mail comes from a woman to a women's ministry. And I'm just wondering, is there any way that I can, that you can generate an e-mail for me that says like, Katie at remember me, whatever it is, whatever the e-mail just, but use a woman's \n\n \nChristian Gomez   1:08 \nMm. \n\n \nWILLIAM MCCONNELL   1:22 \nName instead of my name and then I can come in later on. \n\n \nChristian Gomez   1:23 \nMhm. \nYeah. \nYeah, so generate an e-mail like a template that you can use or. \n\n \nWILLIAM MCCONNELL   1:34 \nWell, so I can so it it you know where it says to and from and then subject it's to so and so from katie@remembermeseries.com. I mean is that something that people can do or? \n\n \nChristian Gomez   1:39 \nOK, mm-hmm. \nOK. \nYeah, we can set up e-mail hosting on the domain level for remembermeseries.com. Is it on GoDaddy that you have that domain? \n\n \nWILLIAM MCCONNELL   2:02 \nI don't know. \nI don't know. \n\n \nChristian Gomez   2:05 \nI forget because we I know I worked on it. \n\n \nWILLIAM MCCONNELL   2:10 \nNo, it was a name name checker. \n\n \nChristian Gomez   2:13 \nRight. Namecheap. OK, I remember now. So we would have to go to the domain registrar and set up e-mail hosting. So you know the domain has its costs, its yearly cost. It's pretty affordable. But then if you wanted to add e-mail. \n\n \nWILLIAM MCCONNELL   2:15 \nName cheap. \n\n \nChristian Gomez   2:30 \nHosting. It's additional to the domain and typically it varies a lot. Google is like Google Workspace is like 6 or $7.00 per user, so it's quite expensive for e-mail per month. \n\n \nWILLIAM MCCONNELL   2:43 \nYeah. \n\n \nChristian Gomez   2:46 \nAnd then, but typically if you go through the registrar, it's much cheaper. It's usually like 2 or $3 per month. Yeah, and they provide you basically your custom domain name. So it would be. \n\n \nWILLIAM MCCONNELL   2:52 \nLike name cheap, OK. \n\n \nChristian Gomez   3:01 \nAt remembermeseries.com. \n\n \nWILLIAM MCCONNELL   3:03 \nSo I've got to go back to name sheep. I don't even know what my oh, you can. OK. \n\n \nChristian Gomez   3:05 \nNo, I can go in. I can go in there. Yeah, I can do that for you guys. Just wanna let you know how that works. \nMake sure I got here. \nThose credentials. \nRiverkeeps. Yeah, I have credentials for for Namecheap, so I can log in there and set up e-mail hosting. \n\n \nWILLIAM MCCONNELL   3:59 \nOK. \nNow that is that is that the that's does that say river remembers? \n\n \nChristian Gomez   4:07 \nRiver Keeps, it says. That's the law again. \n\n \nWILLIAM MCCONNELL   4:08 \nRiver keeps OK. \nAnd that's for the Remember Me series. \n\n \nChristian Gomez   4:14 \nOops. \nThat's for your domain hosting, which should have all your domains for all your projects. So I think Hope Breakthrough is there. Remember Me? It's going through Cloudflare, which has an issue, has had an issue this morning. \n\n \nWILLIAM MCCONNELL   4:23 \nRight. \n\n \nChristian Gomez   4:31 \nSo Namecheap might be down right now. I'm not able to log in, it looks like, but once that's up and running I can take a look at that. \n\n \nWILLIAM MCCONNELL   4:43 \nSo I don't even know what my e-mail address is with Namecheap, do I? \n\n \nChristian Gomez   4:47 \nYou probably don't have one, so if you're using Gmail e-mail hosting by for your domain, it's probably not set up, but then that's gonna entail a different sort of e-mail checking workflow. \n\n \nWILLIAM MCCONNELL   5:01 \nYeah, I'll just leave it as my personal e-mail right now, but I would like to. \n\n \nChristian Gomez   5:05 \nMm-hmm. OK, no. Yeah. So branded e-mail is important, right? So it is something eventually you want to have, but it does affect your workflow. So if you're used to logging into Gmail and answering your emails and all that kind of stuff, it'll affect the automation as well. So instead of coming from watch, rememberme@gmail.com, it'll. \n\n \nWILLIAM MCCONNELL   5:11 \nIt is. \n\n \nChristian Gomez   5:25 \nWill come from either Bill or or Casey. Um. \nSo eventually, yeah, well, we will want to tackle that, but it will have an effect. So do you like how Gmail works as far as e-mail? \n\n \nWILLIAM MCCONNELL   5:37 \nI don't use it, but I gotta keep reminding myself to go there to look at it because I don't use Gmail. \n\n \nChristian Gomez   5:43 \nHmm, what do you use? Outlook? \n\n \nWILLIAM MCCONNELL   5:46 \nI use, well, it's it's billmc801@me.com, so I guess it's probably part of Apple, yeah. \n\n \nChristian Gomez   5:52 \nApple. Apple Mail. Is that where you log in? OK, well, Apple Mail does have that. You can configure an IMAP server on there, so we can. Once we set that up, we'd have to go into your settings and configure. \n\n \nWILLIAM MCCONNELL   5:55 \nYeah. \n\n \nChristian Gomez   6:08 \nYour new e-mail so you can receive everything in the same client. \n\n \nWILLIAM MCCONNELL   6:09 \nOK. \nOK, so you're saying it's good to have like Bill at remembermeseries.com? \n\n \nChristian Gomez   6:17 \nMm-hmm. Yeah. And you, whenever you onboard a new team member, you give them their e-mail. Uh. \n\n \nWILLIAM MCCONNELL   6:20 \nOK. \nOK, So how do we, how do we do we have to wait for Namecheap to come back up to do that? \n\n \nChristian Gomez   6:26 \nYeah, yeah, yeah. To get that started, then we can create the mailboxes and then we'd have to connect the mailboxes to your Apple Mail, yeah. \n\n \nWILLIAM MCCONNELL   6:35 \nOK. OK. And you can do all that. OK, Alrighty. Will you just keep checking on that today to see if they they become live and active? That would be good to see if we can get that. I'd like to get that done today because of starting. \n\n \nChristian Gomez   6:41 \nYeah, yeah. \nOK. \n\n \nWILLIAM MCCONNELL   6:53 \nAs soon as you get it done, I can start sending out emails. It's just always better when a woman's ministry receives something from a woman's name, you know, so. \n\n \nChristian Gomez   6:58 \nMhm. \nYeah. \nYeah, definitely. Um, I know you had. Was that your daughter working with you? \n\n \nWILLIAM MCCONNELL   7:13 \nMy granddaughter. \n\n \nChristian Gomez   7:15 \nGranddaughter. OK, that that might be like a good initiative for her to sustain is is that outreach to women's ministries. I don't know if that's in your plans. \n\n \nWILLIAM MCCONNELL   7:25 \nYeah, I well, it's. I was trying to look for some volunteers. Then I realized that. \n\n \nChristian Gomez   7:30 \nMm. \n\n \nWILLIAM MCCONNELL   7:33 \nI don't really have anything else to do right now. In other words, I'm going to go ahead and start working with the church with myself and then maybe get all the bugs worked out. Because even women's ministry, a lot of women's ministry aren't. \n\n \nChristian Gomez   7:36 \nMhm. \n\n \nWILLIAM MCCONNELL   7:50 \nUp on people on churches websites. So then you then you've got to go to import that church or whatever it is and sort of dig down. I want to work out all the problems before I bring out a volunteer to figure out how do we get to that person. \n\n \nChristian Gomez   7:52 \nRight. \nMhm. \nRight. Yeah, that's. But I think that that's the most important thing you could be doing is figuring out how to reach these women's ministries, because that's going to be a big driver for you for sure. Like right away. Yeah, if you can get this videos page list page in front of those people, then. \n\n \nWILLIAM MCCONNELL   8:11 \nYeah. \nYep, Yep. \n\n \nChristian Gomez   8:24 \nValuable feedback. So much, so much can come from that for sure. \n\n \nWILLIAM MCCONNELL   8:28 \nYeah, yeah. Because I've discovered with men in church, they look at the videos and it means nothing to them. So I've got to tap into that emotional side of the woman watching these videos. And again, I'm sitting on a lot of videos right now to do certain podcasters and I'm going to wait five. \n\n \nChristian Gomez   8:35 \nMm-hmm. Yeah. \nMhm. \n\n \nWILLIAM MCCONNELL   8:48 \nFive days and I'm gonna go back and revisit them. Is that a good time to wait five days? \n\n \nChristian Gomez   8:51 \nMhm. \nNo, I'd I'd do 2 days like follow up. Yeah, follow up within two days of the latest for sure. It's on the lines of the strike while the iron hot type of thing. \n\n \nWILLIAM MCCONNELL   8:56 \nYeah. \nOK, OK, hold on. \nOK. \nOK, I'll do that. \n\n \nChristian Gomez   9:08 \nYeah, and um. \nYeah, I think your user base is going to be like an 8020 split between women and and men and especially well right now where the project, where the product and the series is at, yeah, it can change in the future and each series might have its different demographic split, but for right now, yeah, definitely women. \n\n \nWILLIAM MCCONNELL   9:17 \nYes. \nYes. \nYeah. \n\n \nChristian Gomez   9:31 \nSo it'd be great to find a way to to reach out to them and engage with them, but now you have a link you can shoot over, so that's really good. \n\n \nWILLIAM MCCONNELL   9:37 \nOK, yeah, the the the the link that you put together, you know, with the videos, that's that works so well that I can put it at the bottom of it and they go watch all four videos, they get a handle on it and it it really made a big difference. \n\n \nChristian Gomez   9:46 \nYeah. \nYeah. \n\n \nWILLIAM MCCONNELL   9:56 \nOK. \nOK. \n\n \nChristian Gomez   10:09 \nGoogle search. So if somebody searches, you know, videos, then your video will come up. So that's one of the things, getting your videos indexed in Google. That's part of SEO for the website and it's a whole different process for videos. \n\n \nWILLIAM MCCONNELL   10:10 \nYeah. \n\n \nChristian Gomez   10:26 \nAnd it's all sort of templated on the way YouTube handles videos. So that's that's in the pipeline for you. And then yeah, yeah, yeah, cuz that's going to be a proof of concept for me on optimizing videos for search, cuz it's a whole different. \n\n \nWILLIAM MCCONNELL   10:27 \nRight. \nSo you're working on that, getting that out there, OK. \n\n \nChristian Gomez   10:46 \nI'm used to optimizing text, written written formats, blogs and stuff like that, website content, but videos is a whole different beast. But you're set up for it. It's performant, fast, loads quickly. The file sizes are way down. Thanks to Joe. \n\n \nWILLIAM MCCONNELL   10:49 \nRight. \nOK. \nSo does is that part of the social media thing? \n\n \nChristian Gomez   11:04 \nThat's part of, um, your visibility online, so organic search. \n\n \nWILLIAM MCCONNELL   11:06 \nOK. How do, how do we get, how does that get to that stage? Do you, do you activate that? \n\n \nChristian Gomez   11:14 \nNo. So it's code updates to the site. So every time we publish a new update to the site, it'll be it'll have those optimizations built in. So the first remember when we couldn't, when we published the site and we couldn't see the loading of the video. So I made a bunch of code changes and I changed the platform and I and then I republished and then it started working. So on the. \n\n \nWILLIAM MCCONNELL   11:26 \nYes. \n\n \nChristian Gomez   11:33 \nNext republish, I'd like to have descriptions for the video. So right now we have the episode title, but if we can have an episode description, that would be good for the SEO as well. And then when we publish that change, I can have the SEO changes bundled. \n\n \nWILLIAM MCCONNELL   11:52 \nSo every time we make a change to the website, does it go out to the world somewhere? \n\n \nChristian Gomez   11:52 \nTo that as well. \nGoogle Google indexes it. Basically they send a bot to go look through your whole website and then they put it in their in their archive, which is their Google search engine result pages. So it's basically called indexing. They just browse through your site, see how many pages you have, and then. \n\n \nWILLIAM MCCONNELL   12:14 \nOK. \n\n \nChristian Gomez   12:18 \nIt puts it in their system. \n\n \nWILLIAM MCCONNELL   12:20 \nOK, so today I'll write. You just need short blobs, right? Blogs. So anyway, I'll I'll do one for each episode today. OK, now would you would you do one episode and then optimize it and then tomorrow do a second? \n\n \nChristian Gomez   12:23 \nYeah, mm-hmm. Like one or two paragraphs. \nMhm. \n\n \nWILLIAM MCCONNELL   12:38 \nThe description so no. \n\n \nChristian Gomez   12:38 \nNo. So I'll have I'll I'll have this placeholder for the description text and then I'm gonna create the schema or the the code for indexing video pages, watch pages and then when those descriptions come in, I'll just plug them where they belong and then publish a site with all the new changes, the SEO and the descriptions. \n\n \nWILLIAM MCCONNELL   12:49 \nK. \nOK, OK, now what about when are we be able to start to social media the? \n\n \nChristian Gomez   13:05 \nThe social media is in the works this week. We got a little caught up with the error handling on the automations and then and fixing these video list pages. But yeah, we should have those. \n\n \nWILLIAM MCCONNELL   13:08 \nOK. \n\n \nChristian Gomez   13:21 \nHere ready for your review by Thursday. \n\n \nWILLIAM MCCONNELL   13:25 \nOK. \n\n \nChristian Gomez   13:27 \nAnd then hopefully planning for launch on Friday. So if we could get the videos out on social media, start them Friday. So Saturday, Sunday they have watch time and starting next week 2425262728 is that Thanksgiving week. Most businesses, people take paid time off etcetera, so. \nThat's going to be a great time to have all the videos up on social media so we can measure engagement. People are going to be on social media that week, so we want to have it for that. \n\n \nWILLIAM MCCONNELL   13:55 \nOK, so you think it's a good idea to go ahead and put all four videos up so people can watch them, OK? \n\n \nChristian Gomez   13:59 \nMm-hmm. Yep, Yep. And we can start measuring December 1st engagement and I think for December. \n22nd. \nTo the twenty-fourth and then twenty-ninth to the thirty-first that those two weeks, I think we should put take a look at our data from our four videos and put like $5 a day towards the best performing video to expand the reach to reach more people. \n\n \nWILLIAM MCCONNELL   14:26 \nK. \nOK, OK, OK. \nHow many? How many people extra with that $5 reach, you think? Any idea? \n\n \nChristian Gomez   14:38 \nDepends on the data on on the reach that we see organically, but I can get closer estimates before we actually launch. I can plug that in. So actually let me get that for you. By the way, I'm recording this session so we can get a transcript and have everything. \n\n \nWILLIAM MCCONNELL   14:54 \nOK. \nOK, good. \n\n \nChristian Gomez   14:57 \nDocumented all the next steps. \nBut yeah, getting um. \nI'll get you those estimates by Thursday. \n\n \nWILLIAM MCCONNELL   15:04 \nOK, yeah, just, I'm just interested, you know, to see. I mean, I've been up every night this past five days trying to crack the code and it's between you and me. At times it can be very depressing. \n\n \nChristian Gomez   15:07 \nMhm. \nYeah. \n\n \nWILLIAM MCCONNELL   15:26 \nBecause. \nEven people can't. People can't even reply to an e-mail, you know, and it's it's just very, very frustrating that we are very successful. People will be locked down the doors, right? But just, you know, you send them a video, you say give me some feedback, right? And you never hear from them. \n\n \nChristian Gomez   15:34 \nYeah, it's tough, yeah. \nMm-hmm. Yeah. \nMhm. \n\n \nWILLIAM MCCONNELL   15:49 \nAgain, it's just maddening. So I'm just trying to maintain my spirits and I just think I need to see something on your end regarding data and, you know, things coming in and something that keeps me motivated to keep going knowing that, you know, you and I aren't driving down a dark hole and not going anywhere. \n\n \nChristian Gomez   15:51 \nYeah. \nMhm. \nThat being said, I think we can add a button. \nTo the video detail pages that says what did you think of this episode? \n\n \nWILLIAM MCCONNELL   16:16 \nMan. \nOh, good. OK. \n\n \nChristian Gomez   16:19 \nThey can click that, fill in a form, super low barrier to entry. That'll tie right into our N 8 N and then um. \n\n \nWILLIAM MCCONNELL   16:26 \nAnd that may be that may be our answer to the focus group. \n\n \nChristian Gomez   16:29 \nYep. Mm-hmm. Yep. Very, very, uh, logical, straightforward. \n\n \nWILLIAM MCCONNELL   16:35 \nOK. The other thing that I had, how's our is our our mail engagement? Is it people, are they still signing up? Do we see a I know you took care of the junk stuff, so that was good. \n\n \nChristian Gomez   16:37 \nYeah. \nTake a look at that. \nMhm. \nOh, good, good, good. I got signed out. So glad I have you here because it's probably going to ask you for a code. \n\n \nWILLIAM MCCONNELL   17:02 \nOK. \nIt is. Hold on. \n\n \nChristian Gomez   17:17 \nIPhone Open the YouTube app on iPhone. \n\n \nWILLIAM MCCONNELL   17:18 \nI'm gonna, I'm gonna, I'm gonna say yes, it's me, OK? \n\n \nChristian Gomez   17:21 \nYeah, mhm. \n\n \nWILLIAM MCCONNELL   17:22 \nI did. \n\n \nChristian Gomez   17:47 \nUm, let's see here. \nI think we left off at Bob Scott, right? So we got Liane Graystoke. That's not new. Danielle Jones, Judy Ware, Carol Davis and Stephanie Sperber. \n\n \nWILLIAM MCCONNELL   17:56 \nYes. \nThat's new. That's, yeah. \nOK, so it is. It's people that I know. It's friends of my daughters. So that's good. OK. \n\n \nChristian Gomez   18:10 \nMhm and 0 spam. \nZero spam. So that's very good, yeah. \n\n \nWILLIAM MCCONNELL   18:17 \nSo. \nAnd so now, once we do all the social media stuff and drive people to the site, we'll see that number increase, OK. \n\n \nChristian Gomez   18:24 \nYeah, yeah. \nYeah, so data that I wanna get to you is um. \nWebsite statistics feedback. So just like we have this e-mail list that's working superbly, I'll create a feedback form to take feedback. \nFrom people watching the videos, it'll take the source URL that they're at, the video they're watching, and then it'll takedown their feedback and then. \n\n \nWILLIAM MCCONNELL   18:49 \nOK, yeah, right. \nWhen we when they when you ask for that feedback, are you going to give them questions or you just gonna let them fill it in? \n\n \nChristian Gomez   19:02 \nMhm. \nJust a form. Um. \nVery, very low barrier to entry. I want to make it so easy so that people there's no reason for them to not fill it in. And then, but it's gonna be did you like the video? Yes or no? Maybe something like what was your favorite part? \n\n \nWILLIAM MCCONNELL   19:13 \nOK. \nYep. \nYep. \n\n \nChristian Gomez   19:23 \nWhat do you think could be better? And then any additional thoughts? Leave it open. What do you think? \n\n \nWILLIAM MCCONNELL   19:26 \nOK. \nYeah, I like it. \n\n \nChristian Gomez   19:29 \nYeah. If you could think of any other questions or anything very specific that you think you really want to know from people, let's add it in there. \n\n \nWILLIAM MCCONNELL   19:36 \nLet me ask you this. You know, a lot of times people watch a video and they like it, but they they wish that that they know somebody that could that's going through something that could that would help them at the time. So is there a short way to say? \n\n \nChristian Gomez   19:51 \nMhm. \n\n \nWILLIAM MCCONNELL   19:54 \nSomething like uh uh. \nI guess because it's only a questionnaire. I'm just trying to think out outside, say you and I are talking. You've seen the video and the you said to be Bill. I know somebody right now that could use this video. \nWell, I don't know if that's a question in that form or if it's too, if it's too, it may just be too far away from what we're trying to do. \n\n \nChristian Gomez   20:23 \nI see what you're saying. Can you describe someone or you know? \n\n \nWILLIAM MCCONNELL   20:28 \nIs there somebody that it's it's almost like? \nYou know something that this video could help or encourage? \n\n \nChristian Gomez   20:37 \nMhm. \n\n \nWILLIAM MCCONNELL   20:41 \nI just. \n\n \nChristian Gomez   20:41 \nCan you describe that person type of thing and that that might help us with the audience description, but also do you think that would be better as like send this video to them like a referral? \n\n \nWILLIAM MCCONNELL   20:43 \nYeah. \nUh, yeah. \n\n \nChristian Gomez   20:55 \nOK. \nYeah, that that. \n\n \nWILLIAM MCCONNELL   20:57 \nYou know, like like the the the somebody need to hear this, hear these words, you know, because I do. I do know that when I shared it with the my friend Joyce, who has a big children's foundation for the kids who have aged out of foster care, when she watched them, there were words in there. \n\n \nChristian Gomez   21:02 \nMhm, mhm. \nMm-hmm. \n\n \nWILLIAM MCCONNELL   21:16 \nThat she couldn't wait to show her kids. That meant they meant things to her kids, so. \n\n \nChristian Gomez   21:21 \nYeah. \n\n \nWILLIAM MCCONNELL   21:24 \nUh. \n\n \nChristian Gomez   21:24 \nI think the best thing to do there is share this and then we have a link for WhatsApp message e-mail, yeah. \n\n \nWILLIAM MCCONNELL   21:32 \nOK. All righty. Yeah. OK. And just come up with the questions you think would be good for us. So you, you know, you're sort of data-driven. So just put the questions in there that help us with data so we can make decisions. And this is so far away from anything I've ever done in business. \n\n \nChristian Gomez   21:35 \nMm-hmm. \nMhm. \nYeah, yeah. \n\n \nWILLIAM MCCONNELL   21:49 \nData is nothing I've ever. I mean, I ran AI started my air conditioning business with one air conditioner and one generator, right? And then by the time I sold it, I had like 15,000 tons of air conditioners and 10 generators and 30 trailers. And so data meant nothing to me because. \nI was doing hardware work, right? I knew who my customer was, which is a movie producer. I could tap right into and I could talk to him. Here's my famous line that every location manager who hired us. Here's what I said. \n\n \nChristian Gomez   22:10 \nYeah. \n\n \nWILLIAM MCCONNELL   22:25 \nMy job is to make your job easier. And they went, really, you're hired. \n\n \nChristian Gomez   22:28 \nYeah. \nYeah, that's so true. \n\n \nWILLIAM MCCONNELL   22:34 \nRight. \nSo anyway, you come up with the questions you think that will help us with the data part, OK? And I'm going to work on within an hour, an hour and a half. I will have you the descriptions of each episode, OK? \n\n \nChristian Gomez   22:41 \nYeah. \nOK, perfect. \n\n \nWILLIAM MCCONNELL   22:51 \nAnd so the mail is picking up. We even know we're not driving any traffic there yet, which is good. You're gonna, you're gonna put all four videos up there and and will you do that once you have the description? \n\n \nChristian Gomez   22:56 \nOrganically, that's good. \nYeah. \nWhat's that? \n\n \nWILLIAM MCCONNELL   23:08 \nWill you have will you you you with my description then you'll be able to put the videos up. OK, let me know when the video's up because I don't what I want in my earlier emails that I've got in my draft that I haven't set out yet. It says visit the site and watch the stories. \n\n \nChristian Gomez   23:12 \nMhm. \nYeah. \n\n \nWILLIAM MCCONNELL   23:27 \nSo I don't want to send any of those until you say, OK, Bill, I've got them up, they're ready to go. \n\n \nChristian Gomez   23:27 \nOK. \nYeah. So the SEO, that's almost a a bit of a back burner thing. It's something that we can do incrementally just to continue growing on the free organic side. But the biggest impact things that we should have for the new description update is that button. What did you think of that? \nThis video. \n\n \nWILLIAM MCCONNELL   23:52 \nYes, yes, OK. \n\n \nChristian Gomez   23:53 \nLeave us your feedback and then that button. I'd have to create a form and connect that form to your Google Sheets so that we can takedown that feedback. And on our weekly calls we review our e-mail list like we do, and we review our feedback list. \n\n \nWILLIAM MCCONNELL   24:08 \nYep, Yep. OK, they're ready. \n\n \nChristian Gomez   24:10 \nAnd then we continue to find ways to drive traffic to to the videos. And one of those levers is going to be social media, another level lever that is currently driving traffic that we are. \n\n \nWILLIAM MCCONNELL   24:16 \nOK. \nOK. \n\n \nChristian Gomez   24:28 \nNot really getting a lot of data on is organic, and that's the word that we use for free traffic based on your indexing from Google and from your word of mouth sort of work. \n\n \nWILLIAM MCCONNELL   24:35 \nRight. \nIs there anything? I know you said we've got plenty of social media stuff. Is there anything that Joe should do that would help you to take each video and drive them down to 30 seconds? Is that anything that you need right now? Last time you said no, I don't need. I've got plenty. \n\n \nChristian Gomez   24:57 \nMhm. \nYeah, right now I've got the videos that I believe are 32nd vertical format. I didn't see an end cap call to action on some of those. Um. \n\n \nWILLIAM MCCONNELL   25:09 \nAre those things that I've sent you? \n\n \nChristian Gomez   25:11 \nNo, they're in the library. They're in the media library. Yeah, so some of the social media videos don't have end caps, but I'll have a clearer picture once, once we get those posts scheduled and going out. Cause once we see it on platform, we'll be able to look and see, oh, that'd be perfect if it said this at the end. \n\n \nWILLIAM MCCONNELL   25:12 \nOK, OK. OK. \nOK. \nOK, OK. OK. \n\n \nChristian Gomez   25:31 \nRight. It's one of those things that we can't really see right now. \n\n \nWILLIAM MCCONNELL   25:34 \nOK, alrighty. \n\n \nChristian Gomez   25:34 \nUm, but we got your Facebook, we got your Instagram going, we got the logo updated, the styles and. \n\n \nWILLIAM MCCONNELL   25:39 \nOh, how where? Where's the Facebook at? How do I get? How do I see that? \n\n \nChristian Gomez   25:43 \nIt's not. It doesn't have the branding configured, but the page is done. Let me see. No, there's nothing on it. Let me see. \n\n \nWILLIAM MCCONNELL   25:49 \nSo it's not live right now. \nOK, don't worry about it. You're not wait. Wait till we're up and running and I can see something. \n\n \nChristian Gomez   25:56 \nYeah, yeah. OK. So and then connecting these social media profiles to the website and the footer, that'll be that'll be the last thing. So it's easy. Just go to the website, go to the footer and right there you have your Instagram and your Facebook. \n\n \nWILLIAM MCCONNELL   26:03 \nOK. \nOK, OK, that's good. And then the other thing and my last thing and my well, I've got two things. So second the last thing I have is the the follow up to the people that have already signed up that that that second and third. \n\n \nChristian Gomez   26:24 \nMhm. \nThe sequence day nine people. Yeah, no, that sequence I haven't done yet because. \n\n \nWILLIAM MCCONNELL   26:29 \nYes. \n\n \nChristian Gomez   26:37 \nI'm having trouble thinking about how to. \nHow to do that? \nBecause, uh, we have a we have an existing sequence of 6 emails. So yeah, I just haven't got around to get to making that automation, yeah. \n\n \nWILLIAM MCCONNELL   26:53 \nOK, I just don't want the people to. I don't want them to think we forgot about them. \n\n \nChristian Gomez   26:56 \nMhm. \nYeah, I think once we have something we want to share, like visit us on social media, check out our We already have the videos. I want to have the descriptions and the feedback button ready before we take another action. \n\n \nWILLIAM MCCONNELL   27:10 \nOK. All right. I'll have that done for you this morning. \n\n \nChristian Gomez   27:13 \nYeah, yeah. So once we have an action that's worth. \nBasically putting out there check out our social follow us on social media. That's a call to action. Watch our videos, leave your feedback. Those actions we should activate our e-mail list and send them out. \n\n \nWILLIAM MCCONNELL   27:23 \nRight. \nOK. \n\n \nChristian Gomez   27:33 \nUm, there's not really a process for that right now, so we'd have to build that. \n\n \nWILLIAM MCCONNELL   27:36 \nOK, well, just tell me what just to give me a list of things that I need on my end so you can do what you need to do. So you know, if you say I need to get this or that, I'll do it. I mean, I'll do it immediately like I'm going to work on the descriptions. \n\n \nChristian Gomez   27:42 \nMm-hmm. \nYeah. \nOK. \nYeah, no, just keep doing what you're doing. The emails that are being added in here are are 90% likely from your work, from your word of mouth, from your outreach. People going to the website signing up, they're interested. So just keep doing that. \n\n \nWILLIAM MCCONNELL   28:03 \nYeah, yeah. \nGood. \n\n \nChristian Gomez   28:10 \nWe're building. I mean, you're you're step by step, row by row, you're building equity in this business. \nSo you're you're getting things down. We gotta continue getting things down, yeah. \n\n \nWILLIAM MCCONNELL   28:21 \nOK. OK. All righty. And then the last thing that I have, please send over that vendor agreement, just. \n\n \nChristian Gomez   28:27 \nYes, yeah. Let me actually e-mail that to my wife. So 'cause I don't have a printer here at home. Paperless. \nOh. \nSure I have it here. \nWork for hire agreement. \nGo forward. \nSo. \nSo she should be bringing this home today. Do you need one for each of us? OK, just G3Z. \n\n \nWILLIAM MCCONNELL   29:15 \nNo, just because she's doing, she's, she's doing the artwork and stuff like that. So just her. So from your point of view, you, you still your, your overall from a 30,000 square foot viewer looking down, we're really. \n\n \nChristian Gomez   29:17 \nYeah, OK. \n\n \nWILLIAM MCCONNELL   29:34 \nThe right track, we're making progress and we should continue doing what we're doing. \n\n \nChristian Gomez   29:34 \nMhm. \nYeah, um, if I had. \nGenie in a bottle. I'd say that we could. \n\n \nWILLIAM MCCONNELL   29:50 \nYeah. \n\n \nChristian Gomez   29:56 \nAdd more hands because more hands makes light work in in the front of there. We have a lot to do and. \n\n \nWILLIAM MCCONNELL   30:00 \nOK. \n\n \nChristian Gomez   30:07 \nWe don't have a lot of time in which to do it. Not time. We don't have time, but I wish we could do more with the time we have, right? So. \n\n \nWILLIAM MCCONNELL   30:15 \nTell me what that means. Just when you say more hands. \n\n \nChristian Gomez   30:18 \nYeah. \nUm. \nSo I'd have to set up the automation for the feedback form, but at the same time I would like to have someone working on the the e-mail content, the newsletter that would go out with all the updates that we're doing. So let's let's actually make corporate speak of it and. \nSeparate the product, which is we're making product improvements, right? We're making improvements to your website. That is an asset that we're building and every week we have little improvements that we're doing. We have now a video list page. So that's a new improvement for next week. We we're gonna have a new improvement of descriptions and feedback. \n\n \nWILLIAM MCCONNELL   30:47 \nRight. \nRight. \nRight. \n\n \nChristian Gomez   31:00 \nSubmission. So that'll be another. So every time we make a product improvement, I can't make the product improvements and the marketing at the same time right now. So something's gonna fall through the crack and it and it's being the communications. \n\n \nWILLIAM MCCONNELL   31:08 \nOK. \nOK. \n\n \nChristian Gomez   31:16 \nWe have an automation here for that we already set up that we don't have to worry about, but for product improvements, I guess we can automate it. We just keep an Excel sheet and log what product improvements are being made week after week, feed that into and now I'm answering my own question here, OK? \nOK, we we feed that Excel sheet. \nInto a bot, into an AI that on a weekly basis is going to take our e-mail list and summarize what we've done in human terms and send it out. How's that? \n\n \nWILLIAM MCCONNELL   31:50 \nBut OK, good, I like it. \n\n \nChristian Gomez   31:53 \nWe'll hire bots here for for this for this business. \n\n \nWILLIAM MCCONNELL   31:57 \nI love that. \n\n \nChristian Gomez   31:58 \nBecause they're cheap. \n\n \nWILLIAM MCCONNELL   31:59 \nYes. \n\n \nChristian Gomez   32:00 \nThere, I answered my own questions. All I would have to do is basically make an Excel sheet, put in what new feature is done, and then once a week it's gonna summarize all the features into a newsletter and then. \n\n \nWILLIAM MCCONNELL   32:01 \nGood. Well, that makes you feel better. \nRight. \n\n \nChristian Gomez   32:17 \nSend that out to our e-mail list. \n\n \nWILLIAM MCCONNELL   32:19 \nOh, good. OK, good. So they get a new plan. Yep. Yep. \n\n \nChristian Gomez   32:20 \nRight. Yep. So then we're getting that month to week to week activation of the list, I think once a week. \nWe can maybe skip weeks if there's no new rows, so we don't overwhelm our list and we we don't seem. Definitely I don't want to send messages that are unsolicited and unuseful, if that makes sense. \n\n \nWILLIAM MCCONNELL   32:33 \nGood. \nOK. \nYeah. \n\n \nChristian Gomez   32:45 \nYeah. \n\n \nWILLIAM MCCONNELL   32:48 \nOK, alrighty. Sounds good. \n\n \nChristian Gomez   32:50 \nOK. \nJust so we don't get flagged by e-mail, for the record, I think we should have an unsubscribe link that will come back to the bot and say this person decided to not continue receiving communications. So we'll flag them in our in our list. We don't want to get banned. \n\n \nWILLIAM MCCONNELL   33:04 \nOK, OK. \nOK. OK. All righty. Well, I'll work on the the description of each episode. I'll get that off to you this morning and then. \n\n \nChristian Gomez   33:07 \nBy Google, OK. \n\n \nWILLIAM MCCONNELL   33:19 \nJust let me know when when I can reach out to all my people in my drafts, my e-mail address that the the videos are up on the website and I can refer to them. \n\n \nChristian Gomez   33:26 \nMm-hmm. \nOK, yeah, you got it. \n\n \nWILLIAM MCCONNELL   33:33 \nAnd then regarding the. So once you get that description, you're going to have a button on there that says what? What's the button for? \n\n \nChristian Gomez   33:45 \nUh, request feedback. \n\n \nWILLIAM MCCONNELL   33:46 \nRequest feedback. So when they hit the button or do they see the little screen that says the question to request feedback or how does that look? \n\n \nChristian Gomez   33:57 \nSo it's they're gonna be watching the video and then they have the title, the description and right under it should say a button that says what did you think of this video? Leave your feed. Leave a feed. Leave your feedback. Yeah, they click that. Then that opens up a form. \n\n \nWILLIAM MCCONNELL   34:00 \nYeah, right, right. \nPerfect. OK. OK, good. \nPerfect. OK. And when do you, if I get you all this stuff today, today's when? What's today? Tuesday or Wednesday? Tuesday. OK, you think we could have that up and running by the end of the week or beginning of next? \n\n \nChristian Gomez   34:14 \nMhm. \nTuesday, I think. Tuesday. \nYeah, we're gonna shoot to have that for this week so that and I so I I can have that the descriptions and the button up right away. What I wanna have that's even more important by the end of this week is. \n\n \nWILLIAM MCCONNELL   34:31 \nOK, good. \nOK. \n\n \nChristian Gomez   34:46 \nSo that Monday morning we should have an automation that activates our e-mail list and lets them know that we have added descriptions, videos and feedback. Please leave your feedback. It's super important to us. So the newsletter's going to say that stuff. \n\n \nWILLIAM MCCONNELL   34:55 \nOK. \nOK. \nGood. OK. Alrighty. Very good. \n\n \nChristian Gomez   35:04 \nOK, so we're going to be ambitious for this week. \n\n \nWILLIAM MCCONNELL   35:05 \nOK. Thank you very much. Appreciate you. Talk to you soon. Bye. \n\n \nChristian Gomez   35:08 \nFor sure. Thanks. Talk soon, Bill. \n\n \nWILLIAM MCCONNELL   35:38 \nOK. \nThanks. \nOK, here we go. \nI don't want to have any of this to anything. \nSave you. \n\n \nChristian Gomez stopped transcription ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -400
      ],
      "id": "929fd2b3-8733-4d87-89f4-ca5aa21ad36b",
      "name": "Transcript Text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional project manager and note-taker. Your task is to analyze the provided meeting transcript and extract the key information.\n\n1.  **Summary:** Write a single, concise paragraph summarizing the main discussion points.\n2.  **Tasks:** Extract ALL actionable tasks, identifying the assignee and any stated or implied deadline.\n\nYour entire output MUST strictly conform to the provided JSON schema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        -400
      ],
      "id": "b726d705-0169-4ec9-9bb7-dad1ce7228b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -224,
        -176
      ],
      "id": "b3078e1c-3a22-4cbb-bd98-35c6dcf33b11",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "daMDEKdcOA89D1eG",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"OBJECT\",\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"STRING\",\n      \"description\": \"A concise, single-paragraph summary of the meeting's overall discussion and outcome.\"\n    },\n    \"tasks\": {\n      \"type\": \"ARRAY\",\n      \"items\": {\n        \"type\": \"OBJECT\",\n        \"properties\": {\n          \"taskName\": {\n            \"type\": \"STRING\",\n            \"description\": \"The specific actionable task extracted from the transcript.\"\n          },\n          \"assignee\": {\n            \"type\": \"STRING\",\n            \"description\": \"The person assigned to the task, or 'Unassigned'.\"\n          },\n          \"deadline\": {\n            \"type\": \"STRING\",\n            \"description\": \"The target date for completion in YYYY-MM-DD format, or 'TBD' if not specified.\"\n          }\n        },\n        \"required\": [\"taskName\", \"assignee\", \"deadline\"]\n      }\n    }\n  },\n  \"required\": [\"summary\", \"tasks\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        16,
        -176
      ],
      "id": "c576d527-462d-4c55-8610-3431421553e4",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "Transcript Text": [
      {
        "json": {
          "transcript": "RememberMe Weekly Meeting-20251118_160647UTC-Meeting Recording \n\nNovember 18, 2025, 3:30PM \n\n36m 16s \n\n \nChristian Gomez   0:09 \nGood morning, Bill. How are you? Good, good, good to see you. \n\n \nWILLIAM MCCONNELL   0:09 \nGood morning. Good. How are you? \n\n \nChristian Gomez   0:13 \nTo you. \n\n \nWILLIAM MCCONNELL   0:13 \nGood to see you. \nWell, what's going on? \n\n \nChristian Gomez   0:19 \nOh, been busy. Real busy. Lots of projects trying to get on this. Um. \nAI wave and seeing how we can apply it to the business. \n\n \nWILLIAM MCCONNELL   0:32 \nRight. \n\n \nChristian Gomez   0:32 \nYeah. How you been? \n\n \nWILLIAM MCCONNELL   0:34 \nGood, good. Just every day I'm reaching out via e-mail to different influencers and people that have podcasts and women's ministries, and I've identified. \n77 churches in Dave, Broward and Palm Beach and I'm trying to get a hold of their women's ministry and that's one of the things that I want to ask you about regarding. \nIt's always better if an e-mail comes from a woman to a women's ministry. And I'm just wondering, is there any way that I can, that you can generate an e-mail for me that says like, Katie at remember me, whatever it is, whatever the e-mail just, but use a woman's \n\n \nChristian Gomez   1:08 \nMm. \n\n \nWILLIAM MCCONNELL   1:22 \nName instead of my name and then I can come in later on. \n\n \nChristian Gomez   1:23 \nMhm. \nYeah. \nYeah, so generate an e-mail like a template that you can use or. \n\n \nWILLIAM MCCONNELL   1:34 \nWell, so I can so it it you know where it says to and from and then subject it's to so and so from katie@remembermeseries.com. I mean is that something that people can do or? \n\n \nChristian Gomez   1:39 \nOK, mm-hmm. \nOK. \nYeah, we can set up e-mail hosting on the domain level for remembermeseries.com. Is it on GoDaddy that you have that domain? \n\n \nWILLIAM MCCONNELL   2:02 \nI don't know. \nI don't know. \n\n \nChristian Gomez   2:05 \nI forget because we I know I worked on it. \n\n \nWILLIAM MCCONNELL   2:10 \nNo, it was a name name checker. \n\n \nChristian Gomez   2:13 \nRight. Namecheap. OK, I remember now. So we would have to go to the domain registrar and set up e-mail hosting. So you know the domain has its costs, its yearly cost. It's pretty affordable. But then if you wanted to add e-mail. \n\n \nWILLIAM MCCONNELL   2:15 \nName cheap. \n\n \nChristian Gomez   2:30 \nHosting. It's additional to the domain and typically it varies a lot. Google is like Google Workspace is like 6 or $7.00 per user, so it's quite expensive for e-mail per month. \n\n \nWILLIAM MCCONNELL   2:43 \nYeah. \n\n \nChristian Gomez   2:46 \nAnd then, but typically if you go through the registrar, it's much cheaper. It's usually like 2 or $3 per month. Yeah, and they provide you basically your custom domain name. So it would be. \n\n \nWILLIAM MCCONNELL   2:52 \nLike name cheap, OK. \n\n \nChristian Gomez   3:01 \nAt remembermeseries.com. \n\n \nWILLIAM MCCONNELL   3:03 \nSo I've got to go back to name sheep. I don't even know what my oh, you can. OK. \n\n \nChristian Gomez   3:05 \nNo, I can go in. I can go in there. Yeah, I can do that for you guys. Just wanna let you know how that works. \nMake sure I got here. \nThose credentials. \nRiverkeeps. Yeah, I have credentials for for Namecheap, so I can log in there and set up e-mail hosting. \n\n \nWILLIAM MCCONNELL   3:59 \nOK. \nNow that is that is that the that's does that say river remembers? \n\n \nChristian Gomez   4:07 \nRiver Keeps, it says. That's the law again. \n\n \nWILLIAM MCCONNELL   4:08 \nRiver keeps OK. \nAnd that's for the Remember Me series. \n\n \nChristian Gomez   4:14 \nOops. \nThat's for your domain hosting, which should have all your domains for all your projects. So I think Hope Breakthrough is there. Remember Me? It's going through Cloudflare, which has an issue, has had an issue this morning. \n\n \nWILLIAM MCCONNELL   4:23 \nRight. \n\n \nChristian Gomez   4:31 \nSo Namecheap might be down right now. I'm not able to log in, it looks like, but once that's up and running I can take a look at that. \n\n \nWILLIAM MCCONNELL   4:43 \nSo I don't even know what my e-mail address is with Namecheap, do I? \n\n \nChristian Gomez   4:47 \nYou probably don't have one, so if you're using Gmail e-mail hosting by for your domain, it's probably not set up, but then that's gonna entail a different sort of e-mail checking workflow. \n\n \nWILLIAM MCCONNELL   5:01 \nYeah, I'll just leave it as my personal e-mail right now, but I would like to. \n\n \nChristian Gomez   5:05 \nMm-hmm. OK, no. Yeah. So branded e-mail is important, right? So it is something eventually you want to have, but it does affect your workflow. So if you're used to logging into Gmail and answering your emails and all that kind of stuff, it'll affect the automation as well. So instead of coming from watch, rememberme@gmail.com, it'll. \n\n \nWILLIAM MCCONNELL   5:11 \nIt is. \n\n \nChristian Gomez   5:25 \nWill come from either Bill or or Casey. Um. \nSo eventually, yeah, well, we will want to tackle that, but it will have an effect. So do you like how Gmail works as far as e-mail? \n\n \nWILLIAM MCCONNELL   5:37 \nI don't use it, but I gotta keep reminding myself to go there to look at it because I don't use Gmail. \n\n \nChristian Gomez   5:43 \nHmm, what do you use? Outlook? \n\n \nWILLIAM MCCONNELL   5:46 \nI use, well, it's it's billmc801@me.com, so I guess it's probably part of Apple, yeah. \n\n \nChristian Gomez   5:52 \nApple. Apple Mail. Is that where you log in? OK, well, Apple Mail does have that. You can configure an IMAP server on there, so we can. Once we set that up, we'd have to go into your settings and configure. \n\n \nWILLIAM MCCONNELL   5:55 \nYeah. \n\n \nChristian Gomez   6:08 \nYour new e-mail so you can receive everything in the same client. \n\n \nWILLIAM MCCONNELL   6:09 \nOK. \nOK, so you're saying it's good to have like Bill at remembermeseries.com? \n\n \nChristian Gomez   6:17 \nMm-hmm. Yeah. And you, whenever you onboard a new team member, you give them their e-mail. Uh. \n\n \nWILLIAM MCCONNELL   6:20 \nOK. \nOK, So how do we, how do we do we have to wait for Namecheap to come back up to do that? \n\n \nChristian Gomez   6:26 \nYeah, yeah, yeah. To get that started, then we can create the mailboxes and then we'd have to connect the mailboxes to your Apple Mail, yeah. \n\n \nWILLIAM MCCONNELL   6:35 \nOK. OK. And you can do all that. OK, Alrighty. Will you just keep checking on that today to see if they they become live and active? That would be good to see if we can get that. I'd like to get that done today because of starting. \n\n \nChristian Gomez   6:41 \nYeah, yeah. \nOK. \n\n \nWILLIAM MCCONNELL   6:53 \nAs soon as you get it done, I can start sending out emails. It's just always better when a woman's ministry receives something from a woman's name, you know, so. \n\n \nChristian Gomez   6:58 \nMhm. \nYeah. \nYeah, definitely. Um, I know you had. Was that your daughter working with you? \n\n \nWILLIAM MCCONNELL   7:13 \nMy granddaughter. \n\n \nChristian Gomez   7:15 \nGranddaughter. OK, that that might be like a good initiative for her to sustain is is that outreach to women's ministries. I don't know if that's in your plans. \n\n \nWILLIAM MCCONNELL   7:25 \nYeah, I well, it's. I was trying to look for some volunteers. Then I realized that. \n\n \nChristian Gomez   7:30 \nMm. \n\n \nWILLIAM MCCONNELL   7:33 \nI don't really have anything else to do right now. In other words, I'm going to go ahead and start working with the church with myself and then maybe get all the bugs worked out. Because even women's ministry, a lot of women's ministry aren't. \n\n \nChristian Gomez   7:36 \nMhm. \n\n \nWILLIAM MCCONNELL   7:50 \nUp on people on churches websites. So then you then you've got to go to import that church or whatever it is and sort of dig down. I want to work out all the problems before I bring out a volunteer to figure out how do we get to that person. \n\n \nChristian Gomez   7:52 \nRight. \nMhm. \nRight. Yeah, that's. But I think that that's the most important thing you could be doing is figuring out how to reach these women's ministries, because that's going to be a big driver for you for sure. Like right away. Yeah, if you can get this videos page list page in front of those people, then. \n\n \nWILLIAM MCCONNELL   8:11 \nYeah. \nYep, Yep. \n\n \nChristian Gomez   8:24 \nValuable feedback. So much, so much can come from that for sure. \n\n \nWILLIAM MCCONNELL   8:28 \nYeah, yeah. Because I've discovered with men in church, they look at the videos and it means nothing to them. So I've got to tap into that emotional side of the woman watching these videos. And again, I'm sitting on a lot of videos right now to do certain podcasters and I'm going to wait five. \n\n \nChristian Gomez   8:35 \nMm-hmm. Yeah. \nMhm. \n\n \nWILLIAM MCCONNELL   8:48 \nFive days and I'm gonna go back and revisit them. Is that a good time to wait five days? \n\n \nChristian Gomez   8:51 \nMhm. \nNo, I'd I'd do 2 days like follow up. Yeah, follow up within two days of the latest for sure. It's on the lines of the strike while the iron hot type of thing. \n\n \nWILLIAM MCCONNELL   8:56 \nYeah. \nOK, OK, hold on. \nOK. \nOK, I'll do that. \n\n \nChristian Gomez   9:08 \nYeah, and um. \nYeah, I think your user base is going to be like an 8020 split between women and and men and especially well right now where the project, where the product and the series is at, yeah, it can change in the future and each series might have its different demographic split, but for right now, yeah, definitely women. \n\n \nWILLIAM MCCONNELL   9:17 \nYes. \nYes. \nYeah. \n\n \nChristian Gomez   9:31 \nSo it'd be great to find a way to to reach out to them and engage with them, but now you have a link you can shoot over, so that's really good. \n\n \nWILLIAM MCCONNELL   9:37 \nOK, yeah, the the the the link that you put together, you know, with the videos, that's that works so well that I can put it at the bottom of it and they go watch all four videos, they get a handle on it and it it really made a big difference. \n\n \nChristian Gomez   9:46 \nYeah. \nYeah. \n\n \nWILLIAM MCCONNELL   9:56 \nOK. \nOK. \n\n \nChristian Gomez   10:09 \nGoogle search. So if somebody searches, you know, videos, then your video will come up. So that's one of the things, getting your videos indexed in Google. That's part of SEO for the website and it's a whole different process for videos. \n\n \nWILLIAM MCCONNELL   10:10 \nYeah. \n\n \nChristian Gomez   10:26 \nAnd it's all sort of templated on the way YouTube handles videos. So that's that's in the pipeline for you. And then yeah, yeah, yeah, cuz that's going to be a proof of concept for me on optimizing videos for search, cuz it's a whole different. \n\n \nWILLIAM MCCONNELL   10:27 \nRight. \nSo you're working on that, getting that out there, OK. \n\n \nChristian Gomez   10:46 \nI'm used to optimizing text, written written formats, blogs and stuff like that, website content, but videos is a whole different beast. But you're set up for it. It's performant, fast, loads quickly. The file sizes are way down. Thanks to Joe. \n\n \nWILLIAM MCCONNELL   10:49 \nRight. \nOK. \nSo does is that part of the social media thing? \n\n \nChristian Gomez   11:04 \nThat's part of, um, your visibility online, so organic search. \n\n \nWILLIAM MCCONNELL   11:06 \nOK. How do, how do we get, how does that get to that stage? Do you, do you activate that? \n\n \nChristian Gomez   11:14 \nNo. So it's code updates to the site. So every time we publish a new update to the site, it'll be it'll have those optimizations built in. So the first remember when we couldn't, when we published the site and we couldn't see the loading of the video. So I made a bunch of code changes and I changed the platform and I and then I republished and then it started working. So on the. \n\n \nWILLIAM MCCONNELL   11:26 \nYes. \n\n \nChristian Gomez   11:33 \nNext republish, I'd like to have descriptions for the video. So right now we have the episode title, but if we can have an episode description, that would be good for the SEO as well. And then when we publish that change, I can have the SEO changes bundled. \n\n \nWILLIAM MCCONNELL   11:52 \nSo every time we make a change to the website, does it go out to the world somewhere? \n\n \nChristian Gomez   11:52 \nTo that as well. \nGoogle Google indexes it. Basically they send a bot to go look through your whole website and then they put it in their in their archive, which is their Google search engine result pages. So it's basically called indexing. They just browse through your site, see how many pages you have, and then. \n\n \nWILLIAM MCCONNELL   12:14 \nOK. \n\n \nChristian Gomez   12:18 \nIt puts it in their system. \n\n \nWILLIAM MCCONNELL   12:20 \nOK, so today I'll write. You just need short blobs, right? Blogs. So anyway, I'll I'll do one for each episode today. OK, now would you would you do one episode and then optimize it and then tomorrow do a second? \n\n \nChristian Gomez   12:23 \nYeah, mm-hmm. Like one or two paragraphs. \nMhm. \n\n \nWILLIAM MCCONNELL   12:38 \nThe description so no. \n\n \nChristian Gomez   12:38 \nNo. So I'll have I'll I'll have this placeholder for the description text and then I'm gonna create the schema or the the code for indexing video pages, watch pages and then when those descriptions come in, I'll just plug them where they belong and then publish a site with all the new changes, the SEO and the descriptions. \n\n \nWILLIAM MCCONNELL   12:49 \nK. \nOK, OK, now what about when are we be able to start to social media the? \n\n \nChristian Gomez   13:05 \nThe social media is in the works this week. We got a little caught up with the error handling on the automations and then and fixing these video list pages. But yeah, we should have those. \n\n \nWILLIAM MCCONNELL   13:08 \nOK. \n\n \nChristian Gomez   13:21 \nHere ready for your review by Thursday. \n\n \nWILLIAM MCCONNELL   13:25 \nOK. \n\n \nChristian Gomez   13:27 \nAnd then hopefully planning for launch on Friday. So if we could get the videos out on social media, start them Friday. So Saturday, Sunday they have watch time and starting next week 2425262728 is that Thanksgiving week. Most businesses, people take paid time off etcetera, so. \nThat's going to be a great time to have all the videos up on social media so we can measure engagement. People are going to be on social media that week, so we want to have it for that. \n\n \nWILLIAM MCCONNELL   13:55 \nOK, so you think it's a good idea to go ahead and put all four videos up so people can watch them, OK? \n\n \nChristian Gomez   13:59 \nMm-hmm. Yep, Yep. And we can start measuring December 1st engagement and I think for December. \n22nd. \nTo the twenty-fourth and then twenty-ninth to the thirty-first that those two weeks, I think we should put take a look at our data from our four videos and put like $5 a day towards the best performing video to expand the reach to reach more people. \n\n \nWILLIAM MCCONNELL   14:26 \nK. \nOK, OK, OK. \nHow many? How many people extra with that $5 reach, you think? Any idea? \n\n \nChristian Gomez   14:38 \nDepends on the data on on the reach that we see organically, but I can get closer estimates before we actually launch. I can plug that in. So actually let me get that for you. By the way, I'm recording this session so we can get a transcript and have everything. \n\n \nWILLIAM MCCONNELL   14:54 \nOK. \nOK, good. \n\n \nChristian Gomez   14:57 \nDocumented all the next steps. \nBut yeah, getting um. \nI'll get you those estimates by Thursday. \n\n \nWILLIAM MCCONNELL   15:04 \nOK, yeah, just, I'm just interested, you know, to see. I mean, I've been up every night this past five days trying to crack the code and it's between you and me. At times it can be very depressing. \n\n \nChristian Gomez   15:07 \nMhm. \nYeah. \n\n \nWILLIAM MCCONNELL   15:26 \nBecause. \nEven people can't. People can't even reply to an e-mail, you know, and it's it's just very, very frustrating that we are very successful. People will be locked down the doors, right? But just, you know, you send them a video, you say give me some feedback, right? And you never hear from them. \n\n \nChristian Gomez   15:34 \nYeah, it's tough, yeah. \nMm-hmm. Yeah. \nMhm. \n\n \nWILLIAM MCCONNELL   15:49 \nAgain, it's just maddening. So I'm just trying to maintain my spirits and I just think I need to see something on your end regarding data and, you know, things coming in and something that keeps me motivated to keep going knowing that, you know, you and I aren't driving down a dark hole and not going anywhere. \n\n \nChristian Gomez   15:51 \nYeah. \nMhm. \nThat being said, I think we can add a button. \nTo the video detail pages that says what did you think of this episode? \n\n \nWILLIAM MCCONNELL   16:16 \nMan. \nOh, good. OK. \n\n \nChristian Gomez   16:19 \nThey can click that, fill in a form, super low barrier to entry. That'll tie right into our N 8 N and then um. \n\n \nWILLIAM MCCONNELL   16:26 \nAnd that may be that may be our answer to the focus group. \n\n \nChristian Gomez   16:29 \nYep. Mm-hmm. Yep. Very, very, uh, logical, straightforward. \n\n \nWILLIAM MCCONNELL   16:35 \nOK. The other thing that I had, how's our is our our mail engagement? Is it people, are they still signing up? Do we see a I know you took care of the junk stuff, so that was good. \n\n \nChristian Gomez   16:37 \nYeah. \nTake a look at that. \nMhm. \nOh, good, good, good. I got signed out. So glad I have you here because it's probably going to ask you for a code. \n\n \nWILLIAM MCCONNELL   17:02 \nOK. \nIt is. Hold on. \n\n \nChristian Gomez   17:17 \nIPhone Open the YouTube app on iPhone. \n\n \nWILLIAM MCCONNELL   17:18 \nI'm gonna, I'm gonna, I'm gonna say yes, it's me, OK? \n\n \nChristian Gomez   17:21 \nYeah, mhm. \n\n \nWILLIAM MCCONNELL   17:22 \nI did. \n\n \nChristian Gomez   17:47 \nUm, let's see here. \nI think we left off at Bob Scott, right? So we got Liane Graystoke. That's not new. Danielle Jones, Judy Ware, Carol Davis and Stephanie Sperber. \n\n \nWILLIAM MCCONNELL   17:56 \nYes. \nThat's new. That's, yeah. \nOK, so it is. It's people that I know. It's friends of my daughters. So that's good. OK. \n\n \nChristian Gomez   18:10 \nMhm and 0 spam. \nZero spam. So that's very good, yeah. \n\n \nWILLIAM MCCONNELL   18:17 \nSo. \nAnd so now, once we do all the social media stuff and drive people to the site, we'll see that number increase, OK. \n\n \nChristian Gomez   18:24 \nYeah, yeah. \nYeah, so data that I wanna get to you is um. \nWebsite statistics feedback. So just like we have this e-mail list that's working superbly, I'll create a feedback form to take feedback. \nFrom people watching the videos, it'll take the source URL that they're at, the video they're watching, and then it'll takedown their feedback and then. \n\n \nWILLIAM MCCONNELL   18:49 \nOK, yeah, right. \nWhen we when they when you ask for that feedback, are you going to give them questions or you just gonna let them fill it in? \n\n \nChristian Gomez   19:02 \nMhm. \nJust a form. Um. \nVery, very low barrier to entry. I want to make it so easy so that people there's no reason for them to not fill it in. And then, but it's gonna be did you like the video? Yes or no? Maybe something like what was your favorite part? \n\n \nWILLIAM MCCONNELL   19:13 \nOK. \nYep. \nYep. \n\n \nChristian Gomez   19:23 \nWhat do you think could be better? And then any additional thoughts? Leave it open. What do you think? \n\n \nWILLIAM MCCONNELL   19:26 \nOK. \nYeah, I like it. \n\n \nChristian Gomez   19:29 \nYeah. If you could think of any other questions or anything very specific that you think you really want to know from people, let's add it in there. \n\n \nWILLIAM MCCONNELL   19:36 \nLet me ask you this. You know, a lot of times people watch a video and they like it, but they they wish that that they know somebody that could that's going through something that could that would help them at the time. So is there a short way to say? \n\n \nChristian Gomez   19:51 \nMhm. \n\n \nWILLIAM MCCONNELL   19:54 \nSomething like uh uh. \nI guess because it's only a questionnaire. I'm just trying to think out outside, say you and I are talking. You've seen the video and the you said to be Bill. I know somebody right now that could use this video. \nWell, I don't know if that's a question in that form or if it's too, if it's too, it may just be too far away from what we're trying to do. \n\n \nChristian Gomez   20:23 \nI see what you're saying. Can you describe someone or you know? \n\n \nWILLIAM MCCONNELL   20:28 \nIs there somebody that it's it's almost like? \nYou know something that this video could help or encourage? \n\n \nChristian Gomez   20:37 \nMhm. \n\n \nWILLIAM MCCONNELL   20:41 \nI just. \n\n \nChristian Gomez   20:41 \nCan you describe that person type of thing and that that might help us with the audience description, but also do you think that would be better as like send this video to them like a referral? \n\n \nWILLIAM MCCONNELL   20:43 \nYeah. \nUh, yeah. \n\n \nChristian Gomez   20:55 \nOK. \nYeah, that that. \n\n \nWILLIAM MCCONNELL   20:57 \nYou know, like like the the the somebody need to hear this, hear these words, you know, because I do. I do know that when I shared it with the my friend Joyce, who has a big children's foundation for the kids who have aged out of foster care, when she watched them, there were words in there. \n\n \nChristian Gomez   21:02 \nMhm, mhm. \nMm-hmm. \n\n \nWILLIAM MCCONNELL   21:16 \nThat she couldn't wait to show her kids. That meant they meant things to her kids, so. \n\n \nChristian Gomez   21:21 \nYeah. \n\n \nWILLIAM MCCONNELL   21:24 \nUh. \n\n \nChristian Gomez   21:24 \nI think the best thing to do there is share this and then we have a link for WhatsApp message e-mail, yeah. \n\n \nWILLIAM MCCONNELL   21:32 \nOK. All righty. Yeah. OK. And just come up with the questions you think would be good for us. So you, you know, you're sort of data-driven. So just put the questions in there that help us with data so we can make decisions. And this is so far away from anything I've ever done in business. \n\n \nChristian Gomez   21:35 \nMm-hmm. \nMhm. \nYeah, yeah. \n\n \nWILLIAM MCCONNELL   21:49 \nData is nothing I've ever. I mean, I ran AI started my air conditioning business with one air conditioner and one generator, right? And then by the time I sold it, I had like 15,000 tons of air conditioners and 10 generators and 30 trailers. And so data meant nothing to me because. \nI was doing hardware work, right? I knew who my customer was, which is a movie producer. I could tap right into and I could talk to him. Here's my famous line that every location manager who hired us. Here's what I said. \n\n \nChristian Gomez   22:10 \nYeah. \n\n \nWILLIAM MCCONNELL   22:25 \nMy job is to make your job easier. And they went, really, you're hired. \n\n \nChristian Gomez   22:28 \nYeah. \nYeah, that's so true. \n\n \nWILLIAM MCCONNELL   22:34 \nRight. \nSo anyway, you come up with the questions you think that will help us with the data part, OK? And I'm going to work on within an hour, an hour and a half. I will have you the descriptions of each episode, OK? \n\n \nChristian Gomez   22:41 \nYeah. \nOK, perfect. \n\n \nWILLIAM MCCONNELL   22:51 \nAnd so the mail is picking up. We even know we're not driving any traffic there yet, which is good. You're gonna, you're gonna put all four videos up there and and will you do that once you have the description? \n\n \nChristian Gomez   22:56 \nOrganically, that's good. \nYeah. \nWhat's that? \n\n \nWILLIAM MCCONNELL   23:08 \nWill you have will you you you with my description then you'll be able to put the videos up. OK, let me know when the video's up because I don't what I want in my earlier emails that I've got in my draft that I haven't set out yet. It says visit the site and watch the stories. \n\n \nChristian Gomez   23:12 \nMhm. \nYeah. \n\n \nWILLIAM MCCONNELL   23:27 \nSo I don't want to send any of those until you say, OK, Bill, I've got them up, they're ready to go. \n\n \nChristian Gomez   23:27 \nOK. \nYeah. So the SEO, that's almost a a bit of a back burner thing. It's something that we can do incrementally just to continue growing on the free organic side. But the biggest impact things that we should have for the new description update is that button. What did you think of that? \nThis video. \n\n \nWILLIAM MCCONNELL   23:52 \nYes, yes, OK. \n\n \nChristian Gomez   23:53 \nLeave us your feedback and then that button. I'd have to create a form and connect that form to your Google Sheets so that we can takedown that feedback. And on our weekly calls we review our e-mail list like we do, and we review our feedback list. \n\n \nWILLIAM MCCONNELL   24:08 \nYep, Yep. OK, they're ready. \n\n \nChristian Gomez   24:10 \nAnd then we continue to find ways to drive traffic to to the videos. And one of those levers is going to be social media, another level lever that is currently driving traffic that we are. \n\n \nWILLIAM MCCONNELL   24:16 \nOK. \nOK. \n\n \nChristian Gomez   24:28 \nNot really getting a lot of data on is organic, and that's the word that we use for free traffic based on your indexing from Google and from your word of mouth sort of work. \n\n \nWILLIAM MCCONNELL   24:35 \nRight. \nIs there anything? I know you said we've got plenty of social media stuff. Is there anything that Joe should do that would help you to take each video and drive them down to 30 seconds? Is that anything that you need right now? Last time you said no, I don't need. I've got plenty. \n\n \nChristian Gomez   24:57 \nMhm. \nYeah, right now I've got the videos that I believe are 32nd vertical format. I didn't see an end cap call to action on some of those. Um. \n\n \nWILLIAM MCCONNELL   25:09 \nAre those things that I've sent you? \n\n \nChristian Gomez   25:11 \nNo, they're in the library. They're in the media library. Yeah, so some of the social media videos don't have end caps, but I'll have a clearer picture once, once we get those posts scheduled and going out. Cause once we see it on platform, we'll be able to look and see, oh, that'd be perfect if it said this at the end. \n\n \nWILLIAM MCCONNELL   25:12 \nOK, OK. OK. \nOK. \nOK, OK. OK. \n\n \nChristian Gomez   25:31 \nRight. It's one of those things that we can't really see right now. \n\n \nWILLIAM MCCONNELL   25:34 \nOK, alrighty. \n\n \nChristian Gomez   25:34 \nUm, but we got your Facebook, we got your Instagram going, we got the logo updated, the styles and. \n\n \nWILLIAM MCCONNELL   25:39 \nOh, how where? Where's the Facebook at? How do I get? How do I see that? \n\n \nChristian Gomez   25:43 \nIt's not. It doesn't have the branding configured, but the page is done. Let me see. No, there's nothing on it. Let me see. \n\n \nWILLIAM MCCONNELL   25:49 \nSo it's not live right now. \nOK, don't worry about it. You're not wait. Wait till we're up and running and I can see something. \n\n \nChristian Gomez   25:56 \nYeah, yeah. OK. So and then connecting these social media profiles to the website and the footer, that'll be that'll be the last thing. So it's easy. Just go to the website, go to the footer and right there you have your Instagram and your Facebook. \n\n \nWILLIAM MCCONNELL   26:03 \nOK. \nOK, OK, that's good. And then the other thing and my last thing and my well, I've got two things. So second the last thing I have is the the follow up to the people that have already signed up that that that second and third. \n\n \nChristian Gomez   26:24 \nMhm. \nThe sequence day nine people. Yeah, no, that sequence I haven't done yet because. \n\n \nWILLIAM MCCONNELL   26:29 \nYes. \n\n \nChristian Gomez   26:37 \nI'm having trouble thinking about how to. \nHow to do that? \nBecause, uh, we have a we have an existing sequence of 6 emails. So yeah, I just haven't got around to get to making that automation, yeah. \n\n \nWILLIAM MCCONNELL   26:53 \nOK, I just don't want the people to. I don't want them to think we forgot about them. \n\n \nChristian Gomez   26:56 \nMhm. \nYeah, I think once we have something we want to share, like visit us on social media, check out our We already have the videos. I want to have the descriptions and the feedback button ready before we take another action. \n\n \nWILLIAM MCCONNELL   27:10 \nOK. All right. I'll have that done for you this morning. \n\n \nChristian Gomez   27:13 \nYeah, yeah. So once we have an action that's worth. \nBasically putting out there check out our social follow us on social media. That's a call to action. Watch our videos, leave your feedback. Those actions we should activate our e-mail list and send them out. \n\n \nWILLIAM MCCONNELL   27:23 \nRight. \nOK. \n\n \nChristian Gomez   27:33 \nUm, there's not really a process for that right now, so we'd have to build that. \n\n \nWILLIAM MCCONNELL   27:36 \nOK, well, just tell me what just to give me a list of things that I need on my end so you can do what you need to do. So you know, if you say I need to get this or that, I'll do it. I mean, I'll do it immediately like I'm going to work on the descriptions. \n\n \nChristian Gomez   27:42 \nMm-hmm. \nYeah. \nOK. \nYeah, no, just keep doing what you're doing. The emails that are being added in here are are 90% likely from your work, from your word of mouth, from your outreach. People going to the website signing up, they're interested. So just keep doing that. \n\n \nWILLIAM MCCONNELL   28:03 \nYeah, yeah. \nGood. \n\n \nChristian Gomez   28:10 \nWe're building. I mean, you're you're step by step, row by row, you're building equity in this business. \nSo you're you're getting things down. We gotta continue getting things down, yeah. \n\n \nWILLIAM MCCONNELL   28:21 \nOK. OK. All righty. And then the last thing that I have, please send over that vendor agreement, just. \n\n \nChristian Gomez   28:27 \nYes, yeah. Let me actually e-mail that to my wife. So 'cause I don't have a printer here at home. Paperless. \nOh. \nSure I have it here. \nWork for hire agreement. \nGo forward. \nSo. \nSo she should be bringing this home today. Do you need one for each of us? OK, just G3Z. \n\n \nWILLIAM MCCONNELL   29:15 \nNo, just because she's doing, she's, she's doing the artwork and stuff like that. So just her. So from your point of view, you, you still your, your overall from a 30,000 square foot viewer looking down, we're really. \n\n \nChristian Gomez   29:17 \nYeah, OK. \n\n \nWILLIAM MCCONNELL   29:34 \nThe right track, we're making progress and we should continue doing what we're doing. \n\n \nChristian Gomez   29:34 \nMhm. \nYeah, um, if I had. \nGenie in a bottle. I'd say that we could. \n\n \nWILLIAM MCCONNELL   29:50 \nYeah. \n\n \nChristian Gomez   29:56 \nAdd more hands because more hands makes light work in in the front of there. We have a lot to do and. \n\n \nWILLIAM MCCONNELL   30:00 \nOK. \n\n \nChristian Gomez   30:07 \nWe don't have a lot of time in which to do it. Not time. We don't have time, but I wish we could do more with the time we have, right? So. \n\n \nWILLIAM MCCONNELL   30:15 \nTell me what that means. Just when you say more hands. \n\n \nChristian Gomez   30:18 \nYeah. \nUm. \nSo I'd have to set up the automation for the feedback form, but at the same time I would like to have someone working on the the e-mail content, the newsletter that would go out with all the updates that we're doing. So let's let's actually make corporate speak of it and. \nSeparate the product, which is we're making product improvements, right? We're making improvements to your website. That is an asset that we're building and every week we have little improvements that we're doing. We have now a video list page. So that's a new improvement for next week. We we're gonna have a new improvement of descriptions and feedback. \n\n \nWILLIAM MCCONNELL   30:47 \nRight. \nRight. \nRight. \n\n \nChristian Gomez   31:00 \nSubmission. So that'll be another. So every time we make a product improvement, I can't make the product improvements and the marketing at the same time right now. So something's gonna fall through the crack and it and it's being the communications. \n\n \nWILLIAM MCCONNELL   31:08 \nOK. \nOK. \n\n \nChristian Gomez   31:16 \nWe have an automation here for that we already set up that we don't have to worry about, but for product improvements, I guess we can automate it. We just keep an Excel sheet and log what product improvements are being made week after week, feed that into and now I'm answering my own question here, OK? \nOK, we we feed that Excel sheet. \nInto a bot, into an AI that on a weekly basis is going to take our e-mail list and summarize what we've done in human terms and send it out. How's that? \n\n \nWILLIAM MCCONNELL   31:50 \nBut OK, good, I like it. \n\n \nChristian Gomez   31:53 \nWe'll hire bots here for for this for this business. \n\n \nWILLIAM MCCONNELL   31:57 \nI love that. \n\n \nChristian Gomez   31:58 \nBecause they're cheap. \n\n \nWILLIAM MCCONNELL   31:59 \nYes. \n\n \nChristian Gomez   32:00 \nThere, I answered my own questions. All I would have to do is basically make an Excel sheet, put in what new feature is done, and then once a week it's gonna summarize all the features into a newsletter and then. \n\n \nWILLIAM MCCONNELL   32:01 \nGood. Well, that makes you feel better. \nRight. \n\n \nChristian Gomez   32:17 \nSend that out to our e-mail list. \n\n \nWILLIAM MCCONNELL   32:19 \nOh, good. OK, good. So they get a new plan. Yep. Yep. \n\n \nChristian Gomez   32:20 \nRight. Yep. So then we're getting that month to week to week activation of the list, I think once a week. \nWe can maybe skip weeks if there's no new rows, so we don't overwhelm our list and we we don't seem. Definitely I don't want to send messages that are unsolicited and unuseful, if that makes sense. \n\n \nWILLIAM MCCONNELL   32:33 \nGood. \nOK. \nYeah. \n\n \nChristian Gomez   32:45 \nYeah. \n\n \nWILLIAM MCCONNELL   32:48 \nOK, alrighty. Sounds good. \n\n \nChristian Gomez   32:50 \nOK. \nJust so we don't get flagged by e-mail, for the record, I think we should have an unsubscribe link that will come back to the bot and say this person decided to not continue receiving communications. So we'll flag them in our in our list. We don't want to get banned. \n\n \nWILLIAM MCCONNELL   33:04 \nOK, OK. \nOK. OK. All righty. Well, I'll work on the the description of each episode. I'll get that off to you this morning and then. \n\n \nChristian Gomez   33:07 \nBy Google, OK. \n\n \nWILLIAM MCCONNELL   33:19 \nJust let me know when when I can reach out to all my people in my drafts, my e-mail address that the the videos are up on the website and I can refer to them. \n\n \nChristian Gomez   33:26 \nMm-hmm. \nOK, yeah, you got it. \n\n \nWILLIAM MCCONNELL   33:33 \nAnd then regarding the. So once you get that description, you're going to have a button on there that says what? What's the button for? \n\n \nChristian Gomez   33:45 \nUh, request feedback. \n\n \nWILLIAM MCCONNELL   33:46 \nRequest feedback. So when they hit the button or do they see the little screen that says the question to request feedback or how does that look? \n\n \nChristian Gomez   33:57 \nSo it's they're gonna be watching the video and then they have the title, the description and right under it should say a button that says what did you think of this video? Leave your feed. Leave a feed. Leave your feedback. Yeah, they click that. Then that opens up a form. \n\n \nWILLIAM MCCONNELL   34:00 \nYeah, right, right. \nPerfect. OK. OK, good. \nPerfect. OK. And when do you, if I get you all this stuff today, today's when? What's today? Tuesday or Wednesday? Tuesday. OK, you think we could have that up and running by the end of the week or beginning of next? \n\n \nChristian Gomez   34:14 \nMhm. \nTuesday, I think. Tuesday. \nYeah, we're gonna shoot to have that for this week so that and I so I I can have that the descriptions and the button up right away. What I wanna have that's even more important by the end of this week is. \n\n \nWILLIAM MCCONNELL   34:31 \nOK, good. \nOK. \n\n \nChristian Gomez   34:46 \nSo that Monday morning we should have an automation that activates our e-mail list and lets them know that we have added descriptions, videos and feedback. Please leave your feedback. It's super important to us. So the newsletter's going to say that stuff. \n\n \nWILLIAM MCCONNELL   34:55 \nOK. \nOK. \nGood. OK. Alrighty. Very good. \n\n \nChristian Gomez   35:04 \nOK, so we're going to be ambitious for this week. \n\n \nWILLIAM MCCONNELL   35:05 \nOK. Thank you very much. Appreciate you. Talk to you soon. Bye. \n\n \nChristian Gomez   35:08 \nFor sure. Thanks. Talk soon, Bill. \n\n \nWILLIAM MCCONNELL   35:38 \nOK. \nThanks. \nOK, here we go. \nI don't want to have any of this to anything. \nSave you. \n\n \nChristian Gomez stopped transcription "
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-18T20:27:22.668Z",
      "createdAt": "2025-11-18T20:27:22.668Z",
      "role": "workflow:owner",
      "workflowId": "ZVO4TIlU3GOHlP8d",
      "projectId": "QNfIJ0xZgM3QlqN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T21:43:51.000Z",
  "versionId": "9ed0839f-dd1b-49eb-b807-765129169ba3"
}